[2017-04-14 05:07] Coeur commented on #1436
My crash report when running from terminal:
[code]

[2017-04-14 05:21] norio-nomura commented on #1436
Thank you for reporting! 🙏

[2017-04-14 05:51] Coeur commented on #1436
Ah ah, so it was caused by one of those forced unwrap `!`. We should banish the character `!` in Swift and make the rule impossible to disable. :D

[2017-04-14 09:59] #1436 closed

[2017-04-14 13:45] nigelflack opened #1437 "Enhancement: add "excluded" support for custom rules"
Propose adding "excluded" support for custom rules

[2017-04-14 14:41] nigelflack commented on #1437
Have submitted PR (1438)

[2017-04-14 18:50] #1429 closed

[2017-04-14 21:19] jaherhi commented on #541
If nobody's working on this, I could try adding the configurations mentioned, and open a PR once it's ready 🙂

[2017-04-14 21:32] RishabhTayal commented on #1426
I am getting this false positive in my project.

`if let dateStr = queryItems?.first(where: { $0.name == "date" })?.value {`

![screenshot 2017-04-14 16 31 38](https://cloud.githubusercontent.com/assets/2100166/25056657/e558e458-212f-11e7-8416-84795f97290d.png)

[2017-04-14 21:50] jpsim commented on #1426
@RishabhTayal what you've shared _is_ a false positive, whereas the example shared by @ldiqual is not.

However, I can't reproduce your issue with the latest version of SwiftLint (0.18.1):

[code]

Are you sure you're using SwiftLint 0.18.1? If so, please file a new issue with complete steps to reproduce. Thanks!

[2017-04-14 22:01] RishabhTayal opened #1439 "Swiftlint crashing"
I am running `swiftlint` from command line and it crashes. I have a custom `.swiftlint.yml`.

[code]

[2017-04-14 22:02] #1439 closed

[2017-04-14 22:03] RishabhTayal commented on #1439
I was using this line previously

`
return_arrow_whitespace: severity: error
`

now it needs to be like this

[code]

[2017-04-14 22:16] jpsim commented on #1439
Yes, the first line isn't valid YAML. Although this will provide a nicer error message once we upgrade Yams to a release that includes https://github.com/jpsim/Yams/pull/37.

[2017-04-14 22:37] RishabhTayal commented on #1426
@jpsim I believe I was using 0.16.1 version. I just upgraded to 0.18.1. I will see if I can reproduce now.

Thanks.

[2017-04-15 03:26] Coeur commented on #1439
Note: duplicate of https://github.com/realm/SwiftLint/issues/1436
Also, there is a StackOverflow answer for it too: https://stackoverflow.com/questions/43405657/illegal-instruction-4-pods-root-swiftlint-swiftlint/43405658#43405658

[2017-04-15 13:02] ManWithBear commented on #676
Hi, I have started to implement this feature.
Do you have any ideas how it should work?
Right now I think to separate `Configurator` rules in 4 categories Disabled, Configured, Custom, Default. And combine it like: child configured rules fully override parent configured/default rules with same ID. And after that combine rules together and remove all disabled by parent or child.

[2017-04-15 18:35] jpsim opened #1440 "Add a "dry run" mode to autocorrect"
Expose a `--dry-run` option to the `swiftlint autocorrect` command to only report corrections but not apply them.

[2017-04-15 22:35] jpsim commented on #1440
This would be a lot more useful with #500. Or if we output a git patch, parts of which could be selectively applied.

[2017-04-17 13:50] samrayner opened #1442 "#keyPath Rule"
Please can we have a rule to encourage the use of #keyPath() instead of string literals?
https://github.com/apple/swift-evolution/blob/master/proposals/0062-objc-keypaths.md

[2017-04-17 17:02] jpsim commented on #1442
I have a vague recollection that the Swift compiler already does this?

[2017-04-17 17:47] jayesh15111988 opened #1443 "Illegal Instruction: 4"
Recently while running SwiftLint on the project it gave me an error with following description
[code]

I did some debugging to go to bottom of this issue. It looks like it happens only with folders with spaces. Is this a known issue while running SwiftLint on folder structure with space between folder title?

[2017-04-17 19:23] samrayner commented on #1442
It doesn't currently but checking the commit messages now it looks like Fix-Its are planned for the future:
https://github.com/apple/swift/commit/9f0cec4984d7bb23eb242d9eca7c82039310f52d
https://github.com/apple/swift/commit/814a08a5da55a93929dd37eaf6e48826b8d500f9

[2017-04-17 20:09] jayesh15111988 commented on #1443
We have fixed it with below changes. Still not sure why it would fail to build initially.

We changed code from
[code]

to
[code]

[2017-04-17 20:16] jayesh15111988 commented on #1443
Looks like we had special character which was uncalled for. That cause all the havoc and tool all my day. It's all good now.

[2017-04-17 20:16] #1443 closed

[2017-04-18 02:44] jpsim commented on #1442
Ok, will leave this open in case someone wants to build before Swift 4 ships, but will close if we still don't have this rule by then.

[2017-04-18 23:43] SebastianKumor opened #1445 "Build fails"
i was having no problems with swxftlint and then i changed some included and excluded files in the .yml file and now I am getting this error when the script runs
`/Users/sebastiankumor/Library/Developer/Xcode/DerivedData/TalkingNinja-ewstofrbhurmqpgoxbstuyveuvjv/Build/Intermediates/TalkingNinja.build/Debug-iphoneos/TalkingNinja.build/Script-4B1894391EA6D8F1006A2DE2.sh: line 2: /Users/sebastiankumo

[2017-04-19 07:45] marcelofabri commented on #1445
Can you provide your build phase script?

[2017-04-19 07:48] SebastianKumor commented on #1445
I am using this one `${PODS_ROOT}/SwiftLint/swiftlint`

[2017-04-19 07:49] klaaspieter opened #1446 "Make redundant_discardable_let and unused_optional_binding opt-in"
I believe code should be as easy possible to change. I think `redundant_discardable_let` and `unused_optional_binding` make code harder to change. Because of this I would prefer them to be opt-in rules.

They make code harder to change because with `redundant_discardable_let` the `let` has to be prepended again when the requirements change such that the value does have to be captured.

The `unused

[2017-04-19 07:53] marcelofabri commented on #1445
Have you run `pod install`?

[2017-04-19 08:00] SebastianKumor commented on #1445
yes i did

[2017-04-19 11:38] nigelflack commented on #1353
Just coming back to update this...

I've made a change to add "excluded" support to custom rules, using it for file paths. I don't know how widely custom rules are used - changing the keyword to "include_paths" and "exclude_paths" would be a breaking change to people's config files so I guess it's not ideal. I don't know if there's any mechanism to deprecate config entries?

I still think it would

[2017-04-19 23:32] Sega-Zero opened #1447 "wrong unused_optional_binding behavior in guard+try"
Having that kind of code:
[code]

It is 100% correct, but swiftlint treats it as a warning. So, i should change the code to that just to silence that warning?

[code]

I believe that first snippet should be treated as a correct code.

[2017-04-20 08:19] freak4pc commented on #1446
+1 on this. Attaching the original [Unused Optional Binding discussion](https://github.com/realm/SwiftLint/pull/1119#issuecomment-295606484) with @jpsim and @marcelofabri as a followup.

I am still in favor of perhaps finding a more thorough method of determining if a rule should be implemented as opt-in. I also agree with @marcelofabri that we should aim having most rules as default and be opinio

[2017-04-20 09:29] gmosx opened #1448 "SwiftLint not working within AppCode 2017.1"
I installed SwiftLint and the AppCode SwiftLintPlugin.
While SwiftLint works from the command line and within other editors (e.g. Atom) it doesn't seem to work within AppCode, i.e. I don't see any warnings, etc.

The plugin is enabled.

[2017-04-20 09:32] marcelofabri commented on #1448
I'm not sure what we can do here. Seems an issue with either AppCode or AppCode plug-in itself, which is not an official part of the tool and should be reported on it: https://github.com/bealex/SwiftLintAppCode.

Feel free to reopen if there's anything that should be done in SwiftLint itself to fix this.

[2017-04-20 09:32] #1448 closed

[2017-04-20 10:39] farzadshbfn commented on #1254
using `0.18.1` and this problem still exists.

[2017-04-20 13:59] Sega-Zero opened #1449 "custom rules stops working in 0.18.1"
Before update to 0.18.1, this was working fine:
[code]

After upgrade it is not working anymore. Changed to this:
[code]

first rule works. second rule doesn't!

Plus, it looks like swiftlint totally ignores `"` character in any form.
these rules doesn't work:
[code]
[code]
[code]

None of it catches the string:
[code]
But all of them should.

[2017-04-20 17:01] SebastianKumor commented on #1445
The problem here was that I had a space in folder name where I had the project.

[2017-04-20 17:01] #1445 closed

[2017-04-21 17:55] ziryanov opened #1450 "Nesting rule and static variables"
[code]
I need static variables in this function and the only way that I know is to use struct. But I get warning ```Nesting Violation: Types should be nested at most 1 level deep (nesting)```
So is there a way how to use static variables and avoid this warning?

[2017-04-22 06:09] igorkotkovets opened #1451 "Add ability to `autocorrect` a specified set of rules"
Hello guys,

How about adding ability to run `swiftlint autocorrect` with specified set of rules? For example Xcode IDE automatically adds intended whitespaces if you press **Enter**.
![screen shot 2017-04-22 at 9 01 59 am](https://cloud.githubusercontent.com/assets/1083951/25301891/6ca52e20-273a-11e7-97ee-3894314fe2e7.png)
So from my side it would be useful to resolve `trailing_whitespace` and `v

[2017-04-22 16:02] norio-nomura commented on #1449
`regex` does not require that the string contains double quotes.
try following:
[code]

[2017-04-22 16:06] norio-nomura commented on #1449
You can check what `match_kinds` are needed for your custom rule by using `sourcekitten`:
[code]

[2017-04-22 16:23] Sega-Zero commented on #1449
Adding `keyword` did the trick for `UIImage.init` rule, but then why did that rule was working on previous versions with just a `identifier`?

Also, couldn't get `use_typed_segues` rule working even with `- keyword`.

[2017-04-22 16:39] norio-nomura commented on #1449
You specified `"` at tail of `regex`.
`"` is recognized as string by SourceKit.
[code]
config is:
[code]

[2017-04-22 17:43] Sega-Zero commented on #1449
Thanks, that helped. Shouldn't this be in documented somewhere?

[2017-04-22 18:15] Khalian opened #1452 "SwiftLint no longer builds with travis"
https://github.com/goktugyil/EZSwiftExtensions/blob/master/.travis.yml

https://travis-ci.org/goktugyil/EZSwiftExtensions/builds/224633394

[2017-04-22 19:20] marcelofabri commented on #1452
This is likely an issue on your setup. You should uninstall SwiftLint with Homebrew, not just unlink:

[code]

[2017-04-22 19:20] #1452 closed

[2017-04-22 19:22] marcelofabri commented on #1451
You can change the Xcode behavior in this case

![](https://cloud.githubusercontent.com/assets/42419/11850228/e187fc42-a3e0-11e5-85fe-b9533518c851.png)

(from [this comment](https://github.com/realm/SwiftLint/issues/271#issuecomment-165206078))

I'll keep it open as an enhancement though.

[2017-04-22 19:25] marcelofabri commented on #1450
iMO you shouldn't change your code to please SwiftLint if you think this nesting is needed. You can disable a rule in code to ignore this warning [as shown in the README](https://github.com/realm/SwiftLint#disable-rules-in-code).

[2017-04-22 19:25] marcelofabri commented on #1447
Duplicate of #1432

[2017-04-22 19:25] #1447 closed

[2017-04-22 19:31] Sega-Zero commented on #1432
Did you ever tried to compile that code in swift 3? It will never compile:
[code]
![appdelegate swift 2017-04-22 22-30-50](https://cloud.githubusercontent.com/assets/2203199/25307547/5cf058c6-27ab-11e7-82cb-4cf82d9a6d48.jpg)

[2017-04-22 19:33] marcelofabri commented on #1432
You need to wrap in parenthesis, I just forgot to do it.

[code]

[2017-04-22 19:36] Sega-Zero commented on #1432
So, to silence that kind of warning, I better wrap every try? in parenthesis? Yeah, the code will be much cleaner, readable and safe.
I thing that only uglify my code, I better silance that warning rather than using parenthesis.

[2017-04-22 19:43] marcelofabri commented on #1432
Well, I'd argue that `try?` should in general be avoided so errors are properly treated anyways.

I marked this as a discussion, so more people can jump in and share their thoughts. I'd like to say:

1. You're free to disable this rule in this snippet if it's an occasional thing.
2. Feel free to send a PR to make this behavior customizable, so you can change it on your configuration.
3. Let's avoi

[2017-04-22 19:57] Khalian commented on #1452
That makes no sense. It was working fine till yesterday. The project has been running this yml file for about 6 months.

[2017-04-22 20:03] marcelofabri opened #1453 "Remove support for Swift 2.x"
Since Xcode 8.3 was released a few weeks ago and it removes support for Swift 2.x, maybe it's time to remove it on SwiftLint as well.

[2017-04-22 20:56] Sega-Zero commented on #1432
Right now I had to disable the rule in the config, 'cause I don't want to put too much of `// swiftlint:disable` in my code.

`try?` is a 100% normal construct. There are lot of cases when you don't really care if the method throws an error (like in FileManager routines). `throws` doesn't force a programmer to catch all the errors a function may throw, this is an indicator for a programmer, that *

[2017-04-22 20:58] marcelofabri commented on #1432
Feel free to send a PR with implementing this as a configuration or splitting into a new rule! 💯

[2017-04-22 23:13] norio-nomura commented on #1449
feel free to open a PR 😃

[2017-04-23 00:06] norio-nomura commented on #1452
Travis upgraded the `xcode 8.3` image to Xcode 8.3.2 and at the same time upgraded `swiftlint` to `0.18.1`.
https://blog.travis-ci.com/2017-04-19-xcode-832-is-here
Your `.travis.yml` seems to work correctly only when the old swiftlint is installed.
I recommend that you upgrade `swiftlint` in the manner recommended by [travis-ci's document](https://docs.travis-ci.com/user/osx-ci-environment/#Homebr

[2017-04-23 02:08] masters3d opened #1457 "Optionally disallow access modifier override on extensions"
Instead of
[code]
Prefer
[code]

[2017-04-23 06:11] masters3d commented on #1457
Find all the occurrences of `extension` in the structure:
 ``"key.kind" : "source.lang.swift.decl.extension"``
then we could find out if there is a syntax type before the `extension`:
``"type" : "source.lang.swift.syntaxtype.attribute.builtin"``
then we check if the built in attribute is any of the access modifier;
If true, then we can mark the violation.

[2017-04-23 13:09] Sega-Zero commented on #1432
@marcelofabri, I need some help with the tests with script/cibuild.
Trying to understand the reason of test failure. Did the test case similar to `testTrailingWhitespace`, but it still fails in the script and not fails in XCode.
What do I do wrong?

[2017-04-23 14:09] marcelofabri commented on #1437
Fixed in #1438

[2017-04-23 14:09] #1437 closed

[2017-04-24 08:32] tariq235 opened #1458 "autocorrect correcting checkouts folders everytime"
Version - 0.18.1

whitelist_rules:
excluded: # paths to ignore during linting. Takes precedence over `included`.
  - Carthage
  - Pods

All of a sudden swiftlint autocorrect started correcting all carthage Checkouts folders. This is huge time consuming process.

I am using swiftlint from past 1month but never saw this problem earlier.

**Note** - I am seeing this problem when today I ran `brewup`

[2017-04-24 09:25] Jeehut opened #1459 "Specify line to highlight in Custom Rules"
Is there a way to **specify the line that should be highlighted** when defining custom rules? It seems like it's always simply highlighting the line where the regex match begins, but that's sometimes very confusing. Here's an **example use case**:

I have this **custom rule**:
[code]

And this **code**:
[code]

**Currently** the warning shows off in here:

[code]

This is **very confusing** though

[2017-04-24 09:43] Jerrot opened #1460 "empty_parameters rule not triggering in Swift 3"
The empty_parameters rule does not seem to be updated to Swift 3.

While it triggers a warning to prefer
`() ->` over `Void ->`,

it does NOT trigger for
`(Void) ->`

Since the brackets are required since Swift 3, it never triggers.

[2017-04-24 20:35] Uncommon opened #1461 "Blank lines around var/let"
I like to have blank lines separating groups of var/let statements from other kinds of statements.

I'm taking a stab at implementing this myself, so I'm looking for some feedback on whether I'm on the right track. The angle I'm looking at right now is looping through `file.structure.dictionary.substructure` to collect a list of lines that have var/let statements (SwiftDeclarationKind.var***), and

[2017-04-24 21:11] ZevEisenberg commented on #1435
Probably worth duping as a Radar, since it's kind of ridiculous that these aren't the Xcode defaults, IMHO.

[2017-04-25 13:50] mikeKane opened #1464 "xcode-select"

[2017-04-25 13:51] #1464 closed

[2017-04-25 19:21] PraveenSingh107 opened #1466 "fatal error: Loading sourcekitd.framework/Versions/A/sourcekitd failed"
I started facing this fatal error while running the lint command.

fatal error: Loading sourcekitd.framework/Versions/A/sourcekitd failed: file /tmp/swiftlint-20160824-65136-lo3uim/Carthage/Checkouts/SourceKitten/Source/SourceKittenFramework/library_wrapper.swift, line 59
.git/hooks/pre-commit: line 7: 32011 Illegal instruction: 4  ${SWIFT_LINT} lint --strict --quiet --path ${filename}

Any sugges

[2017-04-25 20:04] jpsim commented on #1466
Have you installed Xcode? What's the result of `xcode-select -p`?

[2017-04-25 22:53] #1453 closed

[2017-04-26 07:25] PraveenSingh107 commented on #1466
Yeah, i've installed xcode. swiftlint was working fine but suddenly it started throwing this error.
Output of xcode-select -p : /Library/Developer/CommandLineTools

[2017-04-26 07:27] jpsim commented on #1466
The command line tools located at `/Library/Developer/CommandLineTools` do not contain a Swift toolchain.

Where have you installed Xcode? If it's installed under `/Applications/Xcode.app`, please run:

[code]

If it's installed elsewhere, please replace the `/Applications/Xcode.app` path in the command above to the location where you've installed Xcode.

[2017-04-26 19:06] PraveenSingh107 commented on #1466
Thanks. Issue got resolved

[2017-04-26 19:07] #1466 closed

[2017-04-26 19:53] BilalReffas opened #1468 "What is the reason for the optional binding rule?"
The latest `swiftlint` version has a new `unused_optional_binding` rule. What is the reason for it? I just want to understand that  🤔

[2017-04-26 20:58] SDGGiesbrecht commented on #1468
`unused_optional_binding` helps you catch things like...

[code]

...and replace them with...

[code]

The reasoning that the second example is clearer to read as its purpose is more self‐evident.

***

P.S. I do not know which is actually more efficient after compiler optimizations. Does anyone else know?

[2017-04-26 21:38] masters3d opened #1469 "[Rule Request] Make all top level fileprivate decl become private"
Optional rule to make all the top level `fileprivate` declarations be `private` in order to enforce SE-0025's goal of making `fileprivate` more rare.

https://github.com/realm/SwiftLint/issues/58

[2017-04-28 07:45] tariq235 commented on #1468
First function is more readable. I'd to disable unused_optional_binding.

[2017-04-28 07:46] BilalReffas commented on #1468
Same here ...

[2017-04-28 07:51] marcelofabri commented on #1468
Duplicate of #1446 and #1432

[2017-04-28 07:51] #1468 closed

[2017-04-28 19:51] SDGGiesbrecht commented on #1468
@tariq235, @BilalReffas

Some days I agree with you. Other days the rule seems to make a lot of sense. I haven’t really decided yet what I think of this particular rule myself.

[2017-04-28 23:08] masters3d opened #1472 "[rule request] enforce the order of `final` along with ACL of classes"
optional rule to enforce order of final of classes in a code base

`internal final class MyClass {}`
or
`final public class MyClass {}`

This could probably be done by using a regex to check both possibilities and suggest one or the other depending on preferences. A regex could also catch multiline declarations

[code]

`<ws*>public|internal<ws*>final<ws*>class<ws*>`
`<ws*>final<ws*>public|interna

[2017-04-30 15:22] marcelofabri commented on #1472
Subset of #387?

[2017-04-30 15:31] marcelofabri commented on #1458
Please add your full configuration file so we can help. Thanks!

[2017-04-30 15:38] marcelofabri commented on #758
Closing this since we removed this rule.

[2017-04-30 15:38] #758 closed

[2017-04-30 15:38] marcelofabri commented on #836
Closing this since we removed this rule.

[2017-04-30 15:38] #836 closed

[2017-04-30 15:38] marcelofabri commented on #755
Is this still an issue, @alcarvalho?

[2017-04-30 15:39] marcelofabri commented on #705
Closing this since we removed this rule.

[2017-04-30 15:39] #705 closed

[2017-04-30 15:39] marcelofabri commented on #658
Closing this since we removed this rule.

[2017-04-30 15:39] #658 closed

[2017-04-30 15:40] marcelofabri commented on #631
Closing this since we removed this rule.

[2017-04-30 15:40] #631 closed

[2017-04-30 15:40] marcelofabri commented on #595
Closing this since we removed this rule.

[2017-04-30 15:40] #595 closed

[2017-04-30 15:40] marcelofabri commented on #580
Closing this since we removed this rule.

[2017-04-30 15:40] #580 closed

[2017-04-30 15:41] marcelofabri commented on #323
Closing this since we removed this rule.

[2017-04-30 15:41] #323 closed

[2017-04-30 15:41] marcelofabri commented on #284
Closing this since we removed this rule.

[2017-04-30 15:41] #284 closed

[2017-04-30 16:45] masters3d commented on #1472
Yes. Subset. I guess we could also include `weak` but not attributes.

[2017-04-30 16:51] freak4pc commented on #758
@marcelofabri Mind linking to discussion on that?
Was the valid docs rule removed altogether ?

[2017-04-30 16:53] marcelofabri commented on #758
This rule wasn't working at all since Swift 2.3. At some point we disabled it on Swift 2.3+ and on the next release we'll drop support for Swift 2, so the rule was removed.

[2017-04-30 16:54] freak4pc commented on #758
Gotya. Thanks for the clarification 👍
Should we investigate rewriting that rule or the consensus is there's no use for it ATM ?

[2017-04-30 16:54] #1460 closed

[2017-04-30 17:00] marcelofabri commented on #758
The issue was that SourceKit stopped providing the information we need to make it work. Check #728 for more info.

[2017-04-30 17:42] marcelofabri opened #1475 "Deprecate/remove implicit configurations"
Supporting Implicit configurations makes harder to add more options to a rule configurations and I'd bet we already break support for it sometimes when changing a rule configuration.

[2017-04-30 19:26] #58 closed

[2017-04-30 19:43] bestlem commented on #1417
asserts are also not used if you used other matcher libraries like Nimble or SwiftHamcrest - then an expect of some type found should be required.

[2017-04-30 21:23] alcarvalho commented on #755
@marcelofabri no. I just tested this sample on 0.17.0 and it's lightning fast, now.

[2017-04-30 21:23] #755 closed

[2017-04-30 21:26] marcelofabri commented on #755
Thanks for the feedback!

[2017-04-30 23:32] #1194 closed

[2017-05-01 09:49] nvh opened #1479 "Add excluding_regex to custom_rules"
It would be nice to have the possibility to add an excluding_regex to custom_rules:

[code]

As far as I can see, what's needed for this is the parsing of this from the config, and the passing of that value into the `excludingPattern` argument of the `match` function in `CustomRules.swift`.

Would a PR for this be interesting?

[2017-05-01 20:31] maksymmalyhin opened #1481 "Make binary SwiftLint binary version available via Carthage"
## Goals
I would like to install a specific version of Swiftlint as a dependency to my iOS project using Carthage. Currently, this works perfectly with Cocoapods:
`pod 'SwiftLint', '0.18.1'`
As result, a binary for the specified Swiftlint version is downloaded.

## Expected Results
It is possible to specify a binary in a `Cartfile` e.g.
`binary "https://github.com/realm/SwiftLint/releases/Swiftlin

[2017-05-01 22:03] marcelofabri commented on #1469
Subset of #1058

[2017-05-01 22:37] #1334 closed

[2017-05-01 22:56] marcelofabri opened #1483 "Rule request: Unneeded parentheses in closure argument"
[code]

We could use a regex (`\{\s*\([^:]+\)\s*in`) to do it and also check for `source.lang.swift.decl.var.parameter` without a `key.typename`.

Stole the idea and regex from @keith

[2017-05-01 23:05] marcelofabri commented on #1483
Maybe this should have an option to allow the parentheses when the return type is explicit and there are more than one parameter? e.g.

[code]
[code]

[2017-05-02 14:45] aaroncrespo opened #1486 "Nested swiftlint.yml disables top level Custom Rules."
Given the following layout:

[code]

A custom rule defined in the top level `.swiftlint.yml`  will not run if the nested `.swiftlint.yml` is present. Removing the nested config allows the custom rule to run (but I need a nested config)

I using the sample custom Rule from the readme.

[2017-05-02 14:48] marcelofabri commented on #1486
Duplicate of #676?

[2017-05-02 14:53] aaroncrespo commented on #1486
makes sense, the violations I am trying to catch are in my Tests. but it would be replaced by the nested swiftlint yml

[2017-05-02 14:55] marcelofabri commented on #1486
Closing this then. For now, you'd either have to avoid nested configs or duplicate the `custom_rules` 😬

[2017-05-02 14:55] #1486 closed

[2017-05-02 16:13] thorstenstark opened #1487 "Adding Xcode/Swift compiler warnings to output file"
It would be nice to have also the complier warnings in the SwiftLint output file, especially for CIs like Jenkins and Travis.

[2017-05-02 20:28] marcelofabri commented on #1136
There's an open ticket on Swift JIRA for this as well: [SR-964](https://bugs.swift.org/browse/SR-964)

[2017-05-02 20:47] marcelofabri commented on #1487
SwiftLint doesn't compile your app, so there's no way we could do this (and I think this is outside the scope anyways).

[2017-05-02 21:16] jpsim commented on #1481
We do provide binaries compatible with Carthage of `SwiftLintFramework`, the framework that powers the SwiftLint CLI, but as far as I know, Carthage doesn't support non-frameworks in binary downloads.

@maksymmalyhin could you please clarify this? Also, ideally if you could share an example GitHub repo that provides this, I would greatly appreciate that. Thanks!

[2017-05-03 00:15] SDGGiesbrecht commented on #1487
I saw this question earlier and I figured it was outside the scope of SwiftLint too, but I wanted to wait for someone else to confirm it before I directed you elsewhere.

@thorstenstark, have a look at [Workspace](https://github.com/SDGGiesbrecht/Workspace). It hasn’t been stabilized for an “official” release yet, but it can already do what you are asking (depending on your project set‐up).

Speci

[2017-05-03 02:45] ikesyo commented on #1481
As @jpsim said, Carthage is not for distributing command line tools.

[2017-05-03 13:12] maksymmalyhin commented on #1481
Excuse me, looks like you are right, currently Carthage does not support it.

@jpsim I've created an example repo https://github.com/maksymmalyhin/SwiftLintBinaryViaCarthage

I am going to create a ticket for Carthage to discuss if it is possible to add  support of binary dependencies other than frameworks.

[2017-05-03 15:36] garie opened #1488 "vertical_parameter_alignment rule generates incorrect warning for nested parentheses"
Version 0.18.1

This code generates a warning:
[code]

This code does not generate a warning:

[code]

[2017-05-03 20:37] samskiter opened #1490 "Caching doesn't seem to be working (perhaps from unit test targets?)"
As I understand, Swiftlint should now cache results and not run again on files if they haven't changed.

Unfortunately, we aren't seeing this in our project - whenever I build I still see Swiftlint output `Linting 'XXX.swift' (1232/1275)` for every file in the project. As far as I know we have the setup recommended in your README. We use portable Swiftlint to keep all devs on the same version and

[2017-05-03 20:40] jpsim commented on #1490
Caching was disabled in #1384 due to several issues, so it's expected that SwiftLint doesn't cache anything at the moment. I apologize for the inconvenience, and thank you for your patience as we work on re-enabling the cache.

[2017-05-03 20:40] #1490 closed

[2017-05-03 21:05] samskiter commented on #1490
Ah ok. Thanks for the swift reply :)

On Wed, 3 May 2017 at 21:40 JP Simard <notifications@github.com> wrote:

[2017-05-04 02:06] Coeur opened #1491 "configure file_length to ignore comments"
I'd like to set a max number of lines of code, but unlimited comments.
Unfortunately, `file_length` rule doesn't seem to have options to ignore comments.

[2017-05-04 02:46] marcelofabri commented on #1491
Duplicate of #1165

[2017-05-04 02:46] #1491 closed

[2017-05-04 03:01] Coeur opened #1492 "What is the file_header rule about?"
I do not understand what is the issue reported by the rule `file_header`.

[code]

What does it mean?
Does it mean I need to change the Copyright year for all my files on every January 1st?

[2017-05-04 19:30] marcelofabri commented on #1492
It validates that a certain string or regex should be present (or avoided) on the file header. By the default, this rule warns against occurrences of "Copyright".

You can see an example of how it can be configured on [SwiftLint configuration file](https://github.com/realm/SwiftLint/blob/1cdee5e274d74ec9ff59d6429b4c9a4a17fd7393/.swiftlint.yml#L25-L33).

[2017-05-05 02:01] Coeur commented on #1492
OK, so the error message wasn't very informative. I would suggest to chqnge it to something more like:

[2017-05-05 08:33] marcelofabri commented on #1492
It's just that the rule can enforce that a certain string/pattern must be avoided as well, so "should match the project pattern" doesn't feel right to me.

[2017-05-05 13:29] mohamede1945 opened #1495 "Match Kind FileText for Custom Rules"
I was trying to add a custom rule that matches a regex of function implementations, but I don't think that exists. Suppose the following file

[code]

I wanted to match all occurrences of `expectedToBeImplementedBeforeRelease`. Is this currently possible?

[2017-05-06 13:24] mohamede1945 opened #1497 "OperatorUsageWhitespaceRule Allow List of Operators to be configurable"
Is it possible to allow the list of operators to be configurable? So that I can add my custom operators or I can opt-out some operators.

[2017-05-07 01:23] masters3d commented on #387
As far as I can tell, attributes are enforced by the compiler to be declared first.
These will not compile.
[code]
This only leaves us with Access Control Labels and other Modifiers to order:
I have a draft implementation for this:
`<@Attibutes> <ACL> <OtherModifiers>`

[2017-05-07 08:39] samrayner commented on #319
I'd love to have this one:

Is there a way to easily distinguish between class inheritance and protocol conformance in a class declaration? If so, I assume this rule would simply check for the latter?

[2017-05-07 10:23] myste1tainn opened #1498 "--lenient unrecognized command"
I've install SwiftLint via Homebrew and got 0.18.1 version which is the latest from what I've checked. But when I tried to run SwiftLint as `swiftlint --lenient` it gives me error

`Unrecognized command: '--lenient'. See 'swiftlint help'`

[2017-05-07 10:47] myste1tainn commented on #1498
Got around this.
When I installed via brew install swiftlint and then brew upgrade swiftlint it would says that I'm already at latest version 0.18.1

But when I run swiftlint version it says I got 0.12.0 version. Where the --lenient argument has not been added yet.

The solution:
I clone SwiftLint source and then execute the install script as instructed in README.md
`git submodule update --init --

[2017-05-07 10:47] #1498 closed

[2017-05-07 15:11] #1434 closed

[2017-05-07 15:19] marcelofabri commented on #1497
Duplicate of #1013.

[2017-05-07 15:19] #1497 closed

[2017-05-07 15:20] marcelofabri commented on #1487
I'm closing this since there's no action to be taken here.

[2017-05-07 15:20] #1487 closed

[2017-05-07 16:54] marcelofabri commented on #1432
Closed in #1480

[2017-05-07 16:54] #1432 closed

[2017-05-07 18:46] masters3d commented on #387
I've hit a little snag here. All of these modifiers are `source.lang.swift.syntaxtype.attribute.builtin` except:
`class` and `final`.

`final` is actually`source.lang.swift.syntaxtype.keyword`

[code]

[2017-05-08 20:11] samskiter commented on #1490
Hey again @jpsim - do you know what the timeline/priority for getting caching back up is? any workaround for now? (e.g. if none of the files have changed)

[2017-05-08 20:14] jpsim commented on #1490
There's no workaround needed to get SwiftLint working, it works fine today, it just doesn't have caching enabled, which is an optimization that shouldn't affect behavior other than performance.

You can either help fix issues with our caching implementation, build caching on top of SwiftLint (e.g. don't call SwiftLint on files that _you_ detect haven't changed since last lint), or wait for this to

[2017-05-08 20:34] mdiep opened #1502 "Rule request: No explicit `== true` or `== false`"
I occasionally come across code like this:

[code]

which just be written as:

[code]

I'd love to have a rule that disallowed `== true` and `== false`. (And `!= true`, `!= false`, which I haven't seen, but would be far worse.)

[2017-05-08 20:39] jpsim commented on #1502
Agreed. This is a good starter rule to write if someone's interested in contributing to SwiftLint but finds other requested rules daunting.

Might want to also validate this rule with the boolean literal on the left hand side:

[code]

[2017-05-08 22:14] SDGGiesbrecht commented on #1502
I’m not so sure. It’s more complicated than it looks at first glance.

For example, what about `Bool?`?

[code]

[2017-05-08 22:31] masters3d commented on #1502
I'd like to add to also throw a violation when comparing to the same object.

[code]

[2017-05-08 22:43] jpsim commented on #1502
Ah, cursed optionals strike again! @masters3d could you please file a new ticket for that, as its implementation could be entirely different than the original request.

[2017-05-08 23:06] masters3d opened #1503 "rule to check when comparing to the same object"
[code]

Same goes goes for < and > which are always false when comparing to self.

[2017-05-09 05:42] marcelofabri commented on #1503
Duplicate of #1371

[2017-05-09 05:42] #1503 closed

[2017-05-09 10:06] samskiter commented on #1490
@jpsim Sorry, what I meant is that even if none of my files change it still lints every file, I was wondering if there was a way to avoid a re-lint in this one case (rather than the 'full' caching solution).

I can certainly try and help out. Where should I start reading? Any bug number where this is all discussed?

[2017-05-09 11:19] nigelflack commented on #1495
You could create a new custom rule for that - it looks like a straightforward case. What about it doesn't work?

There's also a TODO rule in the default ruleset. It's worded a little strangely I think as it says "TODOs should not be used" or something like that. But it does highlight their existence. So you could use a TODO comment - and not allow a release if any still exist.

(note I'm not reall

[2017-05-09 11:30] mohamede1945 commented on #1502
For the case where comparing with `Optional<Bool>` . I think it's clearer to use `?? true|false` operator than just compare with `==  true|false`.
If I look again at @SDGGiesbrecht 's example at the call site.
[code]
It's not clear for the reader that someFunction() might return `nil`.

But
[code]
It's very clear that the function might return `nil` and also clear what to do in that case.

[2017-05-09 11:39] mohamede1945 commented on #1495
I did, but the custom rule didn't work because it matches only one of the `match_kinds` explained in the readme and none of them matches the implementation text.

The todo comment purpose is a little bit different than my `expectedToBeImplementedBeforeRelease` because this function returns `Never`, so I don't need to provide mock implementation for `foo`.

Here is how I use it, notice it returns `

[2017-05-09 11:51] marcelofabri commented on #1495
What if you marked `expectedToBeImplementedBeforeRelease()` as `deprecated`?

[code]

[2017-05-09 11:52] mohamede1945 commented on #1495
@marcelofabri That's a very nice trick. I will use it immediately.

While this satisfies my own specific problem. But again, I think it is very good practice to have custom rules to match against the entire text of the file, this way I can write a regex to validate against bad code snippets, etc.

What do you think?

[2017-05-09 11:54] marcelofabri commented on #1502
You could also use an `extension` (since Swift 3.1):

[code]

[2017-05-09 11:57] mohamede1945 commented on #1502
But that extension assumes `nil` is equivalent to `false` which isn't.

[2017-05-09 12:24] marcelofabri commented on #1495
Couldn't you just avoid using `matchKinds`?

[2017-05-09 12:26] marcelofabri commented on #1502
IMO it doesn't assume. It'd be the same as using `== true` or `?? false`. If you need another behavior based on if it's `nil`, it's just a matter of don't using the extension.

[2017-05-09 12:33] mohamede1945 commented on #1495
Doesn't work

[2017-05-09 12:33] marcelofabri commented on #1495
Also, you can see that the method call is a `source.lang.swift.syntaxtype.identifier` token, so you could use that instead.

* `$ sourcekitten syntax --file file.swift `
[code]

* `file.swift`
[code]

[2017-05-09 12:37] mohamede1945 commented on #1495
Again, you are trying to solve a specific case. The general case is to have the ability to match Regex against file content.

[2017-05-09 12:40] marcelofabri commented on #1495
Works for me:
[code]

[code]

[2017-05-09 12:46] mohamede1945 commented on #1495
Yes, it's working! But when I tried to use it with `whitelist_rules` it didn't

[code]

[2017-05-09 12:49] marcelofabri commented on #1495
But that's another issue actually. I don't think individual custom rules are supported on any of theses lists (`whitelist_rules`, `disabled_rules`, etc).

You probably could use `custom_rules` to allow all of them though.

[2017-05-09 12:54] mohamede1945 commented on #1495
Yeah, that's true. I want all my `custom_rules` to be working. But when I added `whitelist_rules` it didn't work.
So is it possible to give me a .yml file that has both `whitelist_rules` and also `custom_rules` and all rules inside both working?

For example:
[code]

I expect to have both `empty_count` and `rule_test` to work. But it seems `rule_test` is not validated

[2017-05-09 12:58] marcelofabri commented on #1495
I think it should work if you use:

[code]

[2017-05-09 13:24] mohamede1945 commented on #1495
Ok, thank you so much!

[2017-05-09 13:24] #1495 closed

[2017-05-09 13:24] mohamede1945 commented on #1495
That was really helpful

[2017-05-09 13:31] marcelofabri commented on #1495
Feel free to open another issue if you have more questions 👍

[2017-05-09 16:56] jpsim commented on #1490
This appears to be identical to the full caching solution.

[2017-05-10 09:05] marcelofabri opened #1504 "Rule request: order of `get set` in protocol"
When defining a property in a protocol, the order of accessors should be `get set`

[code]

[2017-05-11 00:27] heshamsalman opened #1507 "Extraneous `file.zip` in CocoaPods release"
Looking through the source in the CocoaPods releases, there's an extraneous `file.zip` that takes up 4.4MB and contains _a duplicate copy of the SwiftLint framework and binary_.

[2017-05-11 05:48] SDGGiesbrecht commented on #1292
I just started getting this problem too. I haven’t done much debugging yet, but this script triggers it (for now, until I solve the problem):

[code]

It consistently triggers `Illegal instruction: 4` on my machine, but it does not seem to always be during the same file. I’ve observed it occurring variously during files numbered `102`–`118`.

It also occurs in [Travis CI](https://travis-ci.org/SDG

[2017-05-11 07:41] marcelofabri commented on #1292
@SDGGiesbrecht My bet is that it's another example of https://github.com/realm/SwiftLint/issues/1006.

[2017-05-11 22:47] SDGGiesbrecht commented on #1292
I narrowed it down to four triggering lines. If I remove them, everything works:

[code]

[code]

(Each appears twice, referring to different `collection` variables.)

@marcelofabri, since each contains `−` (U+2212), you may be right, though it is odd to me that only four out of hundreds of instances of `−` cause problems. Also, `−` is neither from a supplemental plane (needing surrogate represent

[2017-05-11 22:53] SDGGiesbrecht commented on #1292
Even closer inspection revealed the problem sequence was specifically `[−`. I worked around it by putting a space between them: `[−1, −2]` became `[ −1, −2]`.

[2017-05-11 22:57] SDGGiesbrecht commented on #1006
Some possibly related debugging occurred in #1292 beginning with [this comment](https://github.com/realm/SwiftLint/issues/1292#issuecomment-300688896).

[2017-05-12 09:44] JohnEstropia opened #1508 "False positive on `syntactic_sugar` rule"
I have a nested type named `<SomeClass>.Optional` and swiftlint thinks this is `Swift.Optional` so I am getting the following warning:
<img width="998" alt="screen shot 2017-05-12 at 18 42 27" src="https://cloud.githubusercontent.com/assets/3029684/25992849/d933156c-3742-11e7-9760-9dea2d8ab8a0.png">

[2017-05-12 14:02] samskiter commented on #1490
@jpsim Looks like there is a change our for review to fix some of these issues https://github.com/realm/SwiftLint/pull/1311

[2017-05-12 15:14] kimdv commented on #1310
@joshfriend , I'm currently working on this, and hope I can get a version ready this weekend :)

[2017-05-12 15:43] Uncommon commented on #1310
Comments sometimes are indented, so I think there should be a way to treat `spaces_after` as a minimum.

[2017-05-12 17:55] joshfriend commented on #1310
Thats a good point, commented out sections of code would certainly cause multiple violations of this rule. I was mostly hoping to make the spacing before and after `//` consistent throughout code and using a `spaces_after` setting as a minimum would probably not interfere with that goal

[2017-05-13 08:30] Coeur commented on #1006
@SDGGiesbrecht I don't think it's the same thing. For #1006, the fix is said to be in this pull request: https://github.com/jpsim/SourceKitten/pull/358

[2017-05-14 22:13] sunshinejr commented on #1451
I would actually love this feature. But wouldn't it be easier if we could use config values in e.g. `.swiftlint.yml`?

[2017-05-14 22:21] #1425 closed

[2017-05-14 22:56] marcelofabri commented on #541
Fixed in #1444

[2017-05-14 22:56] #541 closed

[2017-05-14 23:27] marcelofabri commented on #1507
I think this is a side effect of https://github.com/realm/SwiftLint/blob/master/SwiftLint.podspec#L9. We could change the regex to not match `file.zip` and try it.

[2017-05-15 05:49] lukas1 commented on #413
you could replace this check `if [[ "${filename##*.}" == "swift" ]]; then` by `git diff --name-only | grep ".swift"` when doing the while loop to only loop on swift files

[2017-05-15 09:11] auryn31 opened #1512 "Use environment variables in .swiftlint.yml file"
Is it possible to use global vars from project in the .swiftlint.yml file?
I want to create a template for all projects and have a subfolder in these, that I want to exclude like this:

[code]

is this possible? because this does not work :-(
thanks for help

[2017-05-15 10:23] bestlem commented on #1512
In this case just use
    excluded: # paths to ignore during linting. Takes precedence over `included`.
      - Extensions

As paths are relative to the current directory

[2017-05-15 10:56] auryn31 commented on #1512
But if i only exclude Extensions he does not exclude the Folder
Directory/Extension
so the problem does exists further :-(

[2017-05-15 18:51] jpsim opened #1514 "Prefer `contains` over `first(where:) != nil`"
See 61e9b393

[2017-05-15 19:31] jpsim commented on #1507
Fixed in 536c24c39dd95bdb91286def32e51c5500243363.

[2017-05-15 19:31] #1507 closed

[2017-05-15 20:22] masters3d commented on #1371
What do you think of this regex? `(\b\S*\b)\s*(==|!=|<|>|=<|=>)\s*\1`
escaped: `"(\\b\\S*\\b)\\s*(==|!=|<|>|=<|=>)\\s*\\1"`
![image](https://cloud.githubusercontent.com/assets/6539412/26077559/583dd60a-3971-11e7-844e-5b281b9f82fd.png)

[2017-05-15 20:39] masters3d commented on #1371
I think instead of matching anything `\S` we should probably match only valid operands `[A-Za-z0-9_\.]+`
That would give us this:
`(\b[A-Za-z0-9_\.]+\b)\s*(==|!=|<|>|<=|>=)\s*\1`

[2017-05-16 08:46] Ohad-Maor commented on #1131
@Trifusion It doesn't work.
I am actually looking for this solution also and I figured that we need do do 2 regex like the open_brace build-in-rule but I have no idea how to do it.

[2017-05-16 10:41] Dschee opened #1517 "Rule Request: Vertical Whitespace between Cases"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like this rule might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it hel

[2017-05-16 10:47] Dschee opened #1518 "Rule Request: Vertical Whitespace Opening/Closing Braces"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like these rules might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it h

[2017-05-16 11:00] Dschee opened #1519 "New Rule: Optional Property Write"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like this rule might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it hel

[2017-05-16 14:37] marcelofabri commented on #1517
I think this would be useful, but I'm not sure if it should be a default rule.

[2017-05-16 14:39] marcelofabri commented on #1518
Related to https://github.com/realm/SwiftLint/pull/1345 and https://github.com/realm/SwiftLint/issues/640

[2017-05-16 14:45] marcelofabri commented on #1508
This shouldn't be too hard to fix: basically we should not trigger if there's a `.` before the type. We should  trigger on `Swift.Optional<Int>` though. Do you wanna take a look at it?

[2017-05-16 15:03] Uncommon commented on #1517
I personally prefer a line before the first case as well, for consistency, so it would be nice to have that option.

[2017-05-16 15:42] rjhodge opened #1520 "file_header rule should trigger on first line if there're no comments"
So I have the file header rule working great with one small problem. One developer is notorious for not having a file header. How can I enforce requiring this?

[2017-05-16 15:45] marcelofabri commented on #1520
Do you want to enforce a certain header format? Take a look how SwiftLint itself does it: https://github.com/realm/SwiftLint/blob/master/.swiftlint.yml#L25-L33

[2017-05-16 16:13] rjhodge commented on #1520
So I have the header format

[code]

But he will often put in the following for files

[code]

And this still passes the file_header rule.

[2017-05-16 16:15] marcelofabri commented on #1520
This rule is opt-in, are you sure you've enabled it as well? It should trigger a warning.

[2017-05-16 16:22] rjhodge commented on #1520
We are using the whitelist_rules and have it listed as one of the rules. And the rule works great at finding inconsistent headers but does nothing when there is no header.

[2017-05-16 16:27] marcelofabri commented on #1520
Can you provide a small example that triggers the issue? I couldn't reproduce it:

[code]

**`file.swift`**
[code]

**`.swiftlint.yml`**
[code]

[2017-05-16 16:28] marcelofabri commented on #1520
Maybe the issue is that when there's a comment, the warning is triggered on that line. Otherwise, the warning is only on the file. That could make Xcode behaves differently.

[2017-05-16 16:31] rjhodge commented on #1520
Ahhh that appears to be the issue. Xcode is ditching the warning. Running it from terminal the warning shows up properly.

Anyway to fix it for Xcode?

[2017-05-16 16:35] marcelofabri commented on #1520
Not that I'm aware of. But it'd be possible to change the violation to trigger on the first line of the file here: https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/FileHeaderRule.swift#L86.

Do you want to try that? Otherwise I might be able to take a look later today.

[2017-05-16 16:36] rjhodge commented on #1520
I'll give it a shot.

[2017-05-16 16:41] marcelofabri commented on #1520
BTW, I just tried on Xcode and I see the warning on the issue navigator, but not on the file editor itself.

[2017-05-16 17:18] rjhodge commented on #1520
Ok this is fixed in the pull request #1521 please review when you get a chance.

Thanks again for the help.

[2017-05-16 18:49] sammy-SC opened #1525 "False positive in DiscardedNotificationCenterObserverRule"
Following code is labelled with warning even thought the opaque observer is getting preserved.

[code]

[2017-05-17 08:07] marcelofabri commented on #1525
This could be hard to fix, since there's no guarantee that the places that call this method will retain the observer object.

[2017-05-17 09:08] vasilyIvanov commented on #1449
Another possible reason for custom rules not working in version > 0.18.1 is using `\` for breaking long string literals into multiple lines.

Wrong:
[code]

Correct:
[code]

[2017-05-17 10:43] sammy-SC commented on #1525
@marcelofabri I believe it will be sufficient to check whether the function returning observer doesn't have `@discardableResult` prefix. Swift compiler will do the rest for us giving `Result of call ...` warnings.

[2017-05-17 10:46] marcelofabri commented on #1525
That's a good idea! It should be possible, since we get the attribute from SourceKit:

**`file.swift`**
[code]

**`$ sourcekitten structure --file file.swift`**
[code]

[2017-05-17 14:16] thebugcode commented on #1392
I experience the very same issue @c0diq is talking about for a few weeks now. Warnings are missing, although they werent missing before that. I'm trying to prepare an xcode project proving this bug.

[2017-05-17 14:19] #1520 closed

[2017-05-17 19:54] masters3d commented on #1371
@marcelofabri Do you think this rule should be on by default?

[2017-05-18 04:59] jpsim commented on #1392
I look forward to seeing that

[2017-05-18 07:31] sree127 opened #1527 "Indentation Problem"
Is there a reason why this indentation is not picked up as a warning? [**traling_whitespace** is being detected though]

![screen shot 2017-05-18 at 12 54 07 pm](https://cloud.githubusercontent.com/assets/3157263/26190962/8cd8da72-3bc9-11e7-9123-6e0f73b7a6f6.png)

Attaching the swiftlint rules:

[swiftlint_rule.txt](https://github.com/realm/SwiftLint/files/1010075/swiftlint_rule.txt)

[2017-05-18 08:12] marcelofabri commented on #1527
Because there's no rule for it :)

[2017-05-18 08:46] thebugcode commented on #1392
@jpsim Here is my project with a walkthrough. It proves I think beyond doubt that xcpretty is filtering out Swiftlint's warnings.
https://github.com/thebugcode/SwiftlintWarnings

[2017-05-18 10:25] soutaro opened #1528 "0.18.1 does not compile with swift build"
0.18.1 does not compile with `swift build`. It says:

[code]

This is because SourceKitten 0.17.3 removed `parseDocumentationCommentBody`, and specifying dependency as `..<Version(0,17,3)` in `Package.swift` solves.

* https://github.com/soutaro/SwiftLint/commit/6a456c01aaa7bcebcd9e5137285de457c021667d

I would like to propose releasing another version, maybe 0.18.2?, which compiles with `swift` c

[2017-05-18 10:37] marcelofabri commented on #1528
This rule was actually removed on `master`, so the next release will already fix it.

[2017-05-18 10:50] soutaro commented on #1528
Ok, I will use my patched version for a while and wait for next release.

Thanks.

[2017-05-18 10:50] #1528 closed

[2017-05-18 13:38] erenkabakci commented on #190
The issue still persists on `0.18.1`

I get the warning with following setup
[code]

Is it because of the enum inside a func in a struct, or am I missing out something here.

[2017-05-18 15:56] masters3d commented on #1514
Here are some variations
[code]

[2017-05-18 18:30] soutaro commented on #1528
I found `swift package pin` helps.

[code]

[2017-05-18 23:08] jpsim commented on #1527
Closing as a duplicate of an indentation rule request: #227

[2017-05-18 23:08] #1527 closed

[2017-05-18 23:09] jpsim commented on #1392
Thanks for the project! This issue is unrelated to SwiftLint, but rather xcpretty: https://github.com/supermarin/xcpretty/issues/87

See this thread in fastlane about exactly this problem (but without involving SwiftLint): https://github.com/fastlane/fastlane/issues/8026

[2017-05-18 23:09] #1392 closed

[2017-05-19 00:17] jpsim commented on #1371
Seems like a reasonable place to start to me! OSSCheck would undoubtedly catch if this produces common false positives.

[2017-05-19 08:12] jakubvano opened #1531 "Custom config not loaded properly"
When linting with custom config file while `.swiftlint.yml` exists in current directory, `disabled_rules` are loaded from `.swiftlint.yml` instead of passed config file.

## How to reproduce (0.18.1):
In folder containing
[code]
[code]
[code]
Run `swiftlint lint --config .swiftlint-ci.yml`:

Linting Swift files in current working directory
Linting 'Foo.swift' (1/1)
Foo.swift:1:4: warning: Todo Vio

[2017-05-19 13:08] blackm00n opened #1532 "False positive in `private_unit_test` rule"
When test method has parameters, e.g.:
[code]
there should not be no warning, as intention that it's a utility method is obvious, and it cannot cause "test not run" problem.

[2017-05-19 23:15] jpsim commented on #1006
Fixed in #1535.

[2017-05-19 23:15] #1006 closed

[2017-05-21 10:22] hammadzz commented on #1451
@sunshinejr I guess we could add a .swiftlint.yml that ignore all rules except trailing_whitespace and run autocorrect. That would work pretty well.

[2017-05-21 20:09] sunshinejr commented on #1451
I mean, whatever we need to do to make it work, I am all up for it :D

[2017-05-21 21:03] marcelofabri commented on #1336
This should be fixed in #1535 as well.

[2017-05-21 21:03] #1336 closed

[2017-05-21 21:33] #1508 closed

[2017-05-21 21:40] #1254 closed

[2017-05-21 21:41] marcelofabri opened #1537 "Trigger shorthand_operator when using parentheses"
After #1410, https://github.com/mozilla-mobile/firefox-ios/blob/df12991b0902e6f7b3c7b56d627cee6aee54e7a9/Client/Frontend/Browser/Punycode.swift#L145:17 was fixed, but we should trigger in that case.

[code]

[2017-05-21 22:36] #1457 closed

[2017-05-21 22:37] #1504 closed

[2017-05-22 06:14] marcelofabri commented on #1289
Should be fixed in #1530

[2017-05-22 06:14] #1289 closed

[2017-05-22 06:14] marcelofabri commented on #1184
Closed by #1530

[2017-05-22 06:14] #1184 closed

[2017-05-22 11:24] amarcadet opened #1541 "Add configuration for line_length to ignore comments"
What do you think about that?

[2017-05-22 11:30] marcelofabri commented on #1541
Isn't this supported by https://github.com/realm/SwiftLint/pull/1264?

[2017-05-22 11:33] amarcadet commented on #1541
My bad, it should be documented in `swintlint rules`.

[2017-05-22 11:33] #1541 closed

[2017-05-22 11:37] marcelofabri commented on #1541
It is actually documented there, but not with the exact keys: https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/RuleConfigurations/LineLengthConfiguration.swift#L35-L38

Feel free to send a PR 💯

[2017-05-22 16:13] wolffan opened #1542 "Unknown error from enum Rule"
When I lint my project I get the following:
`Enum element name should only contain alphanumeric characters: '<enumName>'

But I can't find the string related to this error on the project github :/.
I'm on version 0.18.1 (I think it's the last one)

[2017-05-22 16:14] wolffan commented on #1542
[code]
Here's the swiftlint.yml

[2017-05-22 16:15] marcelofabri commented on #1542
This is triggered by the `identifier_name` rule: https://github.com/realm/SwiftLint/blob/61e9b39327b22b237dd06c4254f339b881a44e1f/Source/SwiftLintFramework/Rules/IdentifierNameRule.swift#L57

[2017-05-22 16:16] wolffan commented on #1542
👍  🤦‍♂️
Thanks @marcelofabri  and thanks!

[2017-05-22 16:16] #1542 closed

[2017-05-22 16:28] marcelofabri commented on #1542
No worries! Feel free to reopen or open another issue if you have more questions 😊

[2017-05-22 21:25] brennantaylor opened #1544 "Will I be able to download a version that supports swift 2.3 from Brew?"
With swift 2 support removed in the upcoming release can I still download a version that supports swift 2.3 from Brew?

Would you be willing to upload a different package to keep 0.18.1 around for a while?

[2017-05-22 21:27] marcelofabri commented on #1544
Homebrew doesn't support pinning a version, so I'd recommend either installing with CocoaPods or directly from the binary: https://github.com/realm/SwiftLint/releases/tag/0.18.1

[2017-05-22 23:02] RikkiGibson opened #1545 "Rule Request: Created NSLayoutConstraint from anchor and did nothing with it"
I have had UI goofups prolonged by the fact that I created a constraint using an anchor and never did anything with it (such as set `isActive = true` or assign it to a variable). There should probably be a rule that warns when this happens.

[2017-05-23 00:23] brennantaylor commented on #1544
Ok that should be doable and I can cache it in our CI to keep it fast. Thanks.

[2017-05-23 00:59] jpsim commented on #949
lol, I had a good chuckle with your humorous pings & pongs. Finally revived #951.

[2017-05-23 01:26] masters3d opened #1546 "[Rule Request] If all extension members are the same suggest extension modifier instead."
[code]
Do not suggest when:
* all members of the extension are `private` [1]
* all members are the same but there is already an extension modifier
* all members are `internal`

[1] A private modifier on the extension effectively turns all members into fileprivate access.

reference:
https://github.com/realm/SwiftLint/pull/1543

[2017-05-23 02:13] masters3d opened #1547 "[Rule Request] Swift Radar Bug Status Checker"
I've noticed that many codebases include the SR-xxx bug as a comment.
https://github.com/realm/SwiftLint/search?utf8=%E2%9C%93&q=%22SR%22&type=
It would be really cool if the linter could check the status of the bug and give a warning when the bug is resolved.
Probably it would be better to check whenever the full Swift Radar is included in a comment.
`//https://bugs.swift.org/browse/SR-3449`
or
`

[2017-05-23 05:18] #1544 closed

[2017-05-23 07:23] tariq235 commented on #1458
[code]

[2017-05-23 08:01] jeremygrosjean opened #1548 "Declaration on multiple lines problem"
Hello,
I have a warning because my method is too long (I know that I can up the number of lines that is allowed).
But my method is too long because of declaration like that :
![screen shot 2017-05-23 at 10 06 39](https://cloud.githubusercontent.com/assets/26868457/26344336/9399524a-3f9f-11e7-90d0-410a0035d7e8.png)

Should not it count like one line ?

[2017-05-23 09:12] marcelofabri opened #1549 "False positive in empty_enum_arguments rule"
[code]

[2017-05-23 09:34] marcelofabri opened #1550 "Unneeded lock in cache?"
I think this lock is unneeded: https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Models/LinterCache.swift#L68

Removing this could bring major performance benefits for the use case of running without any modifications, as it's slower than what I'd expect:

[code]

[2017-05-23 09:52] marcelofabri commented on #1550
I've tested it locally and now I get ~2.0s total

[2017-05-23 12:09] norio-nomura commented on #1550
On checking this, Thread Santizer detects following in `violations(forFile:configuration:)`
[code]

The Swift Programming Language (Swift 3.1) said in [Lazy Stored Properties](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Properties.html#//apple_ref/doc/uid/TP40014097-CH14-ID257):

[2017-05-23 12:16] marcelofabri commented on #1550
I always forget about how awesome Thread Sanitizer is 💯

Luckily, if that's the only issue, it'd be pretty easy to fix: just making it a `let` and passed on `init`

[2017-05-23 12:22] norio-nomura commented on #1550
According to Thread Sanitizer, `violations (forFile:)` is called simultaneously from multiple threads, so is `lock` necessary?

[2017-05-23 12:28] marcelofabri commented on #1550
It does, but I don't know if it'd be fine to remove the `lock` since we only read from the `Dictionary`

[2017-05-23 12:59] marcelofabri commented on #1550
Thinking more about this, I think removing the lock might not be the right solution. Maybe in this case would be better to use this approach: https://www.objc.io/issues/2-concurrency/low-level-concurrency-apis/#one-resource-multiple-readers-and-a-single-writer?

[2017-05-23 13:06] norio-nomura commented on #1550
Since we don't need to read updated entry from cache, we may be able to separate read cache instance and write cache instance.

[2017-05-23 14:42] marcelofabri commented on #1547
I don't this should be in SwiftLint since it'd make it slow and not predictable, since it'd need to make network calls 😬

I can see this as a separate tool that could use `SwiftLintFramework` or `SourceKit` directly though.

[2017-05-23 15:53] jpsim commented on #1458
I can't reproduce this:

[code]

[2017-05-23 16:21] jpsim opened #1553 "Run Thread Sanitizer on CI"
Otherwise it's very likely we risk introducing race conditions or thread-unsafe code whenever we touch the caching functionality.

[2017-05-23 16:55] jpsim opened #1554 "Skip files with valid cache & no violations when auto correcting"
This could significantly speed up `swiftlint autocorrect`.

[2017-05-23 17:27] jpsim commented on #1301
Filed a PR fixing this in #1556.

[2017-05-23 17:27] jpsim commented on #637
PRs welcome!

[2017-05-23 18:21] #1301 closed

[2017-05-23 18:31] marcelofabri commented on #1548
I don't think so. Although it's just method call, it's still split in several lines.

[2017-05-23 18:40] jpsim commented on #949
Fixed in #951 (but still pending confirmation).

[2017-05-23 18:40] #949 closed

[2017-05-23 18:55] jpsim commented on #1357
Sorry I don't understand your last comment @gretzki, notably why merging configurations (#676) isn't sufficient for your needs. Could you please elaborate?

[2017-05-23 18:56] jpsim commented on #1319
I'm still not following fully, I think merging of configurations should be sufficient to enable this workflow. Am I missing something? If not, let's close this as a duplicate of #676.

[2017-05-23 18:57] jpsim commented on #1013
I'd rather just see SwiftLint support vertically aligning operators instead.

[2017-05-23 19:01] jpsim commented on #1378
SwiftLint requires configuration files to be valid YAML.

[YAMLlint](http://www.yamllint.com/) produces the following error with your original content:

[code]

Also @drodriguez's recommendation isn't sufficient, as the escape character remains.

You probably want this configuration:

[code]

By using single quotes (`'`) rather than double quotes (`"`), the `\` character isn't treated like a YAML

[2017-05-23 19:01] #1378 closed

[2017-05-23 19:57] jpsim commented on #1475
By "implicit configurations", do you mean like default values for configurations?

Like how [VoidReturnRule](https://github.com/realm/SwiftLint/blob/0.18.1/Source/SwiftLintFramework/Rules/VoidReturnRule.swift#L13) has a default severity configuration of `.warning`? And how [LineLengthRule](https://github.com/realm/SwiftLint/blob/0.18.1/Source/SwiftLintFramework/Rules/LineLengthRule.swift#L13) has

[2017-05-23 19:59] marcelofabri commented on #1475
No, I mean supporting arrays like this:

[code]

[2017-05-23 20:20] jpsim commented on #1475
Ah, ok I'm in favor of that I think. Just the array version though, since the `type_body_length: 300` config syntax is pretty nice.

[2017-05-23 22:23] tinder-cfuller opened #1558 "Potentially Crucial Custom Rules Bug"
# Issue Description

Disabling just one custom rule, actually disables all custom rules.

# STR

### 1) SwiftLint Config

Create config file named `.swiftlint.yml` with the following contents:

[code]

### 2) Swift Test File

Create test file named `Example.swift` with the following contents:

[code]

### 3) Run SwiftLint

When running SwiftLint, we successfully get the following output:

[code]

[2017-05-23 22:25] tinder-cfuller commented on #1558
Test files…

[swiftlint-custom-rules-bug.zip](https://github.com/realm/SwiftLint/files/1023897/swiftlint-custom-rules-bug.zip)

[2017-05-24 00:32] masters3d commented on #1547
This would be optional so speed should not be an issue. It would be awesome to have a native plug in system https://github.com/realm/SwiftLint/pull/711 that could be like Custom Rules but perhaps they could be packages that could be imported. Perhaps all optional rules should work this way.

[2017-05-24 00:38] reidmain commented on #949
Looks like this was actually fixed somewhere between 0.13.1 and 0.18.1

I can no longer replicate this issue on 0.18.1

[2017-05-24 00:45] sundeepgupta commented on #1319
Yes, the merging would be sufficient along with some mechanism (left up to the team) to distribute the shared config.

[2017-05-24 00:45] #1319 closed

[2017-05-24 10:27] nevil commented on #1079
I did a hack (maybe not so user friendly) that allows to specify the capture group that should match the filename.
I did it this way to avoid re-creating the regexes on a per file basis.

Originally I thought I could use named capture groups as ICU supports it, but it seems this has not yet reached NSRegularExpression :-( . (http://userguide.icu-project.org/strings/regexp)

changes:
https://github

[2017-05-24 15:38] marcelofabri commented on #1550
Fixed in #1551

[2017-05-24 15:38] #1550 closed

[2017-05-24 19:22] #1388 closed

[2017-05-24 20:00] jpsim commented on #1397
I can't reproduce this:

[code]

[2017-05-24 22:53] jpsim commented on #1420
In-progress PR here: #1559.

[2017-05-24 22:55] jpsim commented on #676
Hi @ManWithBear , I think it'd be best to file a PR with the behavior your think is best, and we can review/adapt from there.

[2017-05-25 08:32] DevAndArtist commented on #321
Any progress on this? I'd love to force `self.` in my codebase whenever possible. :)

[2017-05-25 09:24] frenetisch-applaudierend opened #1562 "function_parameter_count rule should not apply to overridden methods / protocol implementations"
When overriding a method, or implementing one from a protocol, I don't have any control over the number of parameters. Therefore I feel this rule should not report in those cases. Instead it should (and presumably does) report at the base class / protocol definition.

[2017-05-25 10:33] #1549 closed

[2017-05-25 11:49] marcelofabri commented on #1562
Checking if it's an overridden method should be easy, but we can't check if a method is implemented from a protocol without major changes on how SwiftLint works (see https://github.com/realm/SwiftLint/issues/836#issuecomment-262671902).

[2017-05-25 11:50] marcelofabri commented on #1562
Do you want to try making a PR to check if it's an overridden method? 💯

[2017-05-25 15:13] Uncommon commented on #321
Is it possible to do this in a class extension that's in a different file? Does SwiftLint work file-by-file, or can it handle things across files?

[2017-05-25 19:24] bmetitiri commented on #1397
Playing with this again, it turns out the issue only occurs when I have two of these weak self closures in a row, and the issue was solved by adding a $ to the end of the regex.

[2017-05-25 19:30] marcelofabri commented on #1124
Maybe this was fixed by https://github.com/realm/SwiftLint/pull/1347?

[2017-05-25 19:31] marcelofabri commented on #932
Closing due to lack of activity.

[2017-05-25 19:31] #932 closed

[2017-05-25 19:31] marcelofabri commented on #785
Closing due to lack of activity.

[2017-05-25 19:31] #785 closed

[2017-05-25 19:33] marcelofabri commented on #1001
Closed by #1563

[2017-05-25 19:33] #1001 closed

[2017-05-25 19:45] jpsim commented on #1397
Glad you sorted this out.

[2017-05-25 19:45] #1397 closed

[2017-05-25 19:56] marcelofabri commented on #628
This was implemented in #1444

[2017-05-25 19:56] #628 closed

[2017-05-25 20:01] marcelofabri commented on #1292
This should be fixed as #1535 was merged. Feel free to reopen if this still happens with 0.19.0-rc1.

[2017-05-25 20:01] #1292 closed

[2017-05-25 20:01] #966 closed

[2017-05-25 20:37] frenetisch-applaudierend commented on #1562
Love to! I'll take a stab at it over the weekend 👍

[2017-05-25 22:57] jpsim opened #1570 "make docker_htop screws up Terminal state"
If you leave `make docker_htop` running while `make docker_test` exits, you won't be able to use that Terminal window afterwards 😅 . See https://stackoverflow.com/q/44190992/373262

[2017-05-25 23:13] #1570 closed

[2017-05-26 01:39] Coeur commented on #1292
I hope @SDGGiesbrecht will test it, as it seems to me unrelated that https://github.com/jpsim/SourceKitten/commit/24045bb01fc719ac4342ee53b7897320020f94d3 will fix some pure ASCII pattern like `[−1, −2]`.

[2017-05-26 02:14] SDGGiesbrecht commented on #1292
@Coeur, j’ai reçu votre message.

I am updating SwiftLint so that I can retest. I will report back.

However,

Those where `−` U+2212 (minus sign) not `-` U+002D (ASCII hyphen‐minus), so there was nothing pure‐ASCII about it. (The difference is clearer when the font isn’t monospace: −/-).

[2017-05-26 07:25] SDGGiesbrecht commented on #1292
Si, @Coeur, tout marche pour moi maintenant avec 0.19.0.

Yes, everything works for me now with 0.19.0.

[2017-05-26 07:27] marcelofabri commented on #1292
Awesome, thanks for the feedback 🎉

[2017-05-26 09:58] norio-nomura commented on #1570
nice! :+1:

[2017-05-26 11:53] kimdv commented on #1519
Is this not something similar to `force_upwrapping` rule?

[2017-05-26 12:33] Dschee commented on #1519
It is, but we are not using `force_unwrapping` since that one also works for read-only force unwrapping which we use in many places due to Storyboard and other APIs responding with optionals. This one could also be called `write_only_force_unwrapping` – it only works when trying to write by using force-unwrapping.

[2017-05-26 16:55] DevAndArtist opened #1573 "Support tabs in vertical parameter alignment rule"
My swift files are formatted using AppCode and tabs. Therefore only a few spaces are added automatically when necessary:

[code]

In Xcode, AppCode and SublimeText these labels are aligned. Tab and ident width is 4.

SwiftLint version: 0.18.1
If I'm not mistaken, GitHub uses a tab width of 8.

[2017-05-26 17:31] Uncommon opened #1574 "Insufficient substructure for getters"
I've been having trouble with a rule I'm trying to write (#1471) where I'm not getting enough substructure data for the contents of getter/setter functions so my rule fails to trigger for those cases.

So I tried running the tests for all the rules in `RuleTests`, wrapping their examples in `var x: Int { ··· }` and found that ImplicitlyUnwrappedOptional, LargeTuple, LeadingWhitespace, and Redundan

[2017-05-26 17:37] Uncommon commented on #1574
BTW some rules like ForWhere do work, so the substructure isn't completely missing. The main problem seems to be that let/var statements aren't represented.

[2017-05-26 18:06] marcelofabri commented on #1574
Maybe this is https://github.com/realm/SwiftLint/issues/136 in disguise?

[2017-05-26 18:23] Uncommon commented on #1574
That one talks about variables inside regular functions, which I haven't had a problem with. I wouldn't be surprised if it's related, though.

[2017-05-26 18:37] DevAndArtist commented on #1573
Well I managed to solve the problem using `smart tabs` in AppCode which matches the behavior of Xcode as well. You can consider this issue as resolved. 🙈

[2017-05-27 08:46] jpsim opened #1577 "Improve Linux performance"
86% of the time spent linting the SwiftLint repo on Linux is in [CFStringFindCharacterFromSet](https://github.com/apple/swift-corelibs-foundation/blob/swift-4.0-DEVELOPMENT-SNAPSHOT-2017-05-24-a/CoreFoundation/String.subproj/CFString.c#L4125).

![image](https://cloud.githubusercontent.com/assets/474794/26519923/c9796c52-427d-11e7-82a6-a63bca87f334.png)

Interactive version (open in a web browser):

[2017-05-27 09:12] norio-nomura commented on #1577
We need to disable caching in `NSString` on Linux.
https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFramework/String%2BSourceKitten.swift#L184

[2017-05-27 09:32] jpsim commented on #1577
Actually, _enabling_ caching on Linux has a great impact:

![image](https://cloud.githubusercontent.com/assets/474794/26520308/99de5622-4284-11e7-91a1-fd08e9630418.png)

[flamegraph.svg.zip](https://github.com/realm/SwiftLint/files/1033440/flamegraph.svg.zip)

Just a naive implementation:

[code]

[2017-05-27 09:45] jpsim commented on #1577
With the caching above, linting this repo takes 15.04s rather than the previous 3m23s.

[2017-05-27 10:02] norio-nomura commented on #1577
Yup,. The disadvantage of that implementation is that "`CacheContainer` and `String` are never freed".

[2017-05-27 10:59] #1562 closed

[2017-05-28 10:43] marcelofabri opened #1578 "Parallel autocorrect"
We only perform parallel linting, not autocorrect. This could also significantly improve performance of `swiftlint autocorrect` (as #1554).

[2017-05-28 11:52] marcelofabri commented on #1573
I'm glad that you figured this out, but anyway we probably should support tabs as well

[2017-05-28 15:06] #1554 closed

[2017-05-28 15:08] jpsim commented on #1577
True, but we already make that trade off on macOS. Linting this repo in debug mode with a dictionary cache above takes the same amount of memory as with ObjC associated objects (46MB).

[2017-05-28 15:17] marcelofabri commented on #898
Created [SR-5035](https://bugs.swift.org/browse/SR-5035) for this.

[2017-05-28 16:06] #1532 closed

[2017-05-29 01:02] norio-nomura commented on #1577
Certainly `File` will persist until the end of the SwiftLint process, so neither` String` nor `CacheContainer` will be freed until the end. 🤔
I don't know about another consumer of SourceKitten. Are memory leaks due to intentional circular references an issue for other SourceKittenFramework users?

[2017-05-29 02:33] jpsim commented on #1577
It probably is an issue, but not at the expense of performance.  I'd say we should implement the dictionary based caching approach for now and eventually move that to File.

[2017-05-29 02:54] norio-nomura commented on #1577
I fully agree. 👍

[2017-05-29 08:33] Dschee opened #1583 "Rule Request"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like this rule might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it hel

[2017-05-29 08:35] marcelofabri commented on #1583
Duplicate of #1483

[2017-05-29 08:35] #1583 closed

[2017-05-29 08:37] Dschee commented on #1483
Emphasis on "and", I'd say. See my examples in my request (#1583) to see what I mean what I'd expect to be accepted.

[2017-05-29 08:38] Dschee commented on #1583
Ah, sorry, didn't see that issue. Thanks for marking this as duplicate. I 👍 'd yours! 🎉

[2017-05-29 08:41] Dschee commented on #1517
Okay, this sounds to me like the rule would be merged, if it had enough configuration options. Sure, I'll try to add them, too then. Let's see when I will have the time to tackle this. Probably end of this week ...

[2017-05-29 18:39] EvgeneOskin commented on #776
Hi @marcelofabri and @nmccann. Is there any updates about this rule request?

I need such rule. Is there work in progress or workaround? If there is no work in progress, can I implement this rule?

[2017-05-29 18:45] marcelofabri commented on #776
No one is working on this as far as I know. Feel free to jump in! 💯

[2017-05-30 02:14] jpsim commented on #1450
The nesting rule exists for two reasons:

1. to avoid overly-nested types in an API
2. to avoid overly-indented statements (aka pyramid of doom)

I don't think that either of these situations apply here.

Ideally we would adapt the rule to not trigger when types are defined in functions since those are only available within the scope of that function.

[2017-05-30 02:18] jpsim commented on #1435
Has anyone filed a radar or a swift bug for this?

[2017-05-30 02:23] jpsim commented on #1479
In order to gauge the usefulness of this it would be helpful if you shared a concrete example of where this would be used.

 I suspect that most combinations of including and excluding regular expressions can be merged into a single regex.

[2017-05-30 02:25] jpsim commented on #1492
Suggestions?

[2017-05-30 02:32] jpsim commented on #1545
Could you please provide some code samples that would and would not trigger this rule?

[2017-05-30 04:01] mgrebenets opened #1585 "Rule to enforce ordering of access modifies and override keyword"
Feature request: add a rule that can enforce the ordering of access modifiers and `override` keyword.

E.g. the "override first" rule could be introduced, to ensure that `override` keyword is always put before access modifiers:

[code]

[2017-05-30 04:31] RikkiGibson commented on #1545
I see it as very similar to the Android warning when you create a Toast but don't show it. 99% of the time when people create constraints they're interested in activating them, or activating them for certain size classes, or they want them to be assigned to a variable so they can be accessed and manipulated in response to certain events.

[code]

[2017-05-30 07:41] marcelofabri commented on #1585
Subset of #387

[2017-05-30 09:20] nvh commented on #1479
I was looking into making a custom adjusted version of the [OpeningBraceRule](https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/OpeningBraceRule.swift), but wasn't able to do that because CustomRules didn't support an excludingPattern.

[2017-05-30 10:31] Dschee commented on #1459
Is there any opinion on this issue? Is it too hard to implement? Not important enough? What's you thoughts, would be great to hear some feedback. Thanks in advance!

[2017-05-30 10:44] tiagoalmeida opened #1586 "Rogue Custom Rules"
There are certain rules that kill all custom rules. I call them Rogue Rules.

## Simple example

Let us start with a simple .swiftlint file, with only one customization:

[code]

Imagine that you have a custom rule, like this one:

[code]

Then an awesome variable like this one:

`        _ = "http://thavariable.com"
`

This works. The variable produces a warning, everyone is happy.

## THE ROGUE

[2017-05-30 12:18] Dschee opened #1587 "Split rule object_literal into image_literal and color_literal"
I just implemented a custom rule to prevent that any of my coworkers use the `UIImage(named: "...")` initializer since there's the `#imageLiteral` now. It looks like this:

[code]

Then I naturally thought "why is this not part of SwiftLint anyways?" and looked it up to find the object_literal rule added via #1067. I also read the discussion there which was about adding the rule by default or not.

[2017-05-30 12:27] marcelofabri commented on #1587
That could be said about imageLiterals too.

I'd be in favor of making it configurable to just check one or another, but I still think it shouldn't be a default rule.

[2017-05-30 12:37] Dschee commented on #1587
I disagree with this one. Technically you're right, since we used the images feature from SwiftGen before Xcode 8 was released. But since Xcode 8 there's no reason to stick to the SwiftGen feature as there's a new "single file" with all images: The Image Assets. Actually what SwiftGen does for images is exactly what the imageLiterals now do – it's an exact replacement. But when it comes to colors,

[2017-05-30 12:43] marcelofabri commented on #1587
Not exactly, because if you rename/remove an image, compilation would fail with SwiftGen, but `#imageLiteral` would silently fail.

[2017-05-30 12:43] Dschee commented on #1587
Making it configurable suits me, too, by the way. I just want to throw out my custom rule and use something more community-approved. So if I can turn the one on and the other off with the object_literal rule, I'd be okay with that, too. But I'm still not convinced why enabling imageLiterals would hurt any project when a rule like `trailing_whitespace` is on by default (I had to tell two of my cowo

[2017-05-30 12:46] Dschee commented on #1587
WTF – seems like you're right, I didn't know that and just wanted to prove it wrong, to see that it really doesn't show an error. 😄 So what's the point of imageLiteral then, really. Just auto-completion? How sad ... okay sorry, now I agree on not making it default. I'm shocked right now ... 😅

[2017-05-30 12:52] marcelofabri commented on #1587
I guess the literal is resolved in the compiler, which doesn't know about asset catalogs? But, yeah, it'd be awesome if they were able to check it.

Anyway, if you still think it'd be helpful to make it a configuration, that'd be welcome.

[2017-05-30 12:56] marcelofabri commented on #1586
So, the actual issue here is that we should provide better feedback when a regex is invalid?

[2017-05-30 13:06] tiagoalmeida commented on #1586
When I started the issue I had no idea what was happening.

But after investigating in the code, yes, the issue is related with invalid regex.

This actually leads to two different issues:

- When an invalid regex occurs SwiftLint starts to ignore all custom rules
- There is no feedback that the problem is related to an invalid regex

[2017-05-30 13:24] auryn31 opened #1588 "WARN: The rule 'SwiftLint:identifier_name' does not exist."
When I run the run-sonar-swift.sh script with custom swiftlint rules
tailor says, the following error:
WARN: The rule 'SwiftLint:identifier_name' does not exist.
how did I get the warnings into sonarqube? :-)
sorry if its a bad question.
Thanks for Help

[2017-05-30 13:40] Coeur commented on #1492
- "Header comments should match or exclude defined project patterns."
- "Header comments should be consistent with project patterns."

[2017-05-30 19:10] jpsim commented on #1588
Looks like you CI machine is running an older version of SwiftLint. Can you please update it to 0.19.0? Thanks!

[2017-05-31 06:55] mzaks commented on #1398
I have even more fun scenario :)
[code]

[2017-05-31 08:55] Dschee commented on #1587
Now that the shock is over, here's what I now think:
It's true that imageLiteral does not have any compile time existence check – BUT: In my custom rule above I only expect the user to replace `UIImage(named: "...")` calls with the image literal. Other services like SwiftGen have different names for that parameter, cause the type is not a String. For example in SwiftGen the call would look like th

[2017-05-31 11:00] RaphaelRO opened #1589 "Trigger implicit_getter even if the getter is mutating"
In case of a mutating getter, the `get` keyword must be specified to add the `mutating` behavior but this trigger the `implicit_getter` warning.

[code]

**Edit:** swiftlint version: 0.19.0

[2017-05-31 11:51] marcelofabri commented on #1589
Similar to #1309

[2017-05-31 13:12] vidhyasri2106 opened #1590 "Analyse only project source code files"
Hi,
I integrated Swiftlint for my xcode project. When i run it, it is analysing all swift files even the ones inside frameworks that i installed using carthage. Is there a way to avoid this so that it analyses only the swift files created by the developer in the project leaving behind the frameworks installed using carthage?

[2017-05-31 13:15] marcelofabri commented on #1590
You should use the `excluded` key in your configuration file, as shown [in the README](https://github.com/realm/SwiftLint#configuration).

[2017-05-31 13:15] #1590 closed

[2017-05-31 15:20] #1548 closed

[2017-05-31 17:26] marcelofabri commented on #136
I've created [SR-5057](https://bugs.swift.org/browse/SR-5057) to track this.

[2017-06-01 05:46] vidhyasri2106 opened #1593 "Analyse the source code only using Analyse option"
Hi,
I integrated Swiftlint for my xcode project. It is analysing the source code whenever i run it since i have given the script in Run script of xcode. Is it possible to analyse the code with swiftlint only if i use Analyse option of xcode(Product->Analyse) instead of Run?

[2017-06-01 05:47] vidhyasri2106 opened #1594 "Carthage support for swiftlint"
I already have carthage package manager in my Xcode project and hence deosn't want to go with cocoapods or homebrew. Is it possible to install swiftlint using carthage?

[2017-06-01 06:22] marcelofabri commented on #1594
This is not supported by Carthage (yet). Duplicate of #1481.

[2017-06-01 06:22] #1594 closed

[2017-06-01 06:23] marcelofabri commented on #1593
Duplicate of #799.

[2017-06-01 06:23] #1593 closed

[2017-06-01 11:17] vidhyasri2106 opened #1595 "Can we generate report of warnings and errors using swiftlint"
Is it possible to get the warnings and errors that we get using swiftlint using some API like number of warnings, errors etc.? We have a dashboard built, where we display all the Xcode generated errors, warnings etc. We are thinking of displaying all the warnings and errors that we get using swifitlint also in that dashboard. Is there any way to achieve this?

[2017-06-01 12:35] marcelofabri commented on #1595
You should use the `reporter` key in your configuration file or pass `--reporter` with the reporter that suits you the most (in this case, probably `json`), as shown in the [README](https://github.com/realm/SwiftLint#configuration).

[2017-06-01 12:35] #1595 closed

[2017-06-01 14:09] auryn31 commented on #1588
Thanks
But I am at the version 0.19 with my CI and have the same error
I got the following error:

Done linting! Found 2881 violations, 46 serious in 176 files.
Running Tailor....................................Running Lizard....Running SonarQube using SonarQube RunnerWARN: SCM provider autodetection failed. No SCM provider claims to support this project. Please use sonar.scm.provider to define SC

[2017-06-01 15:34] auryn31 opened #1596 "Override Rules"
Hey There,
is it possible to override rules without creating a custom rule?
For example I have another regex for curly brackets
if I want to use the standard rule with my custom regex, is this possible in any way?
Its not possible to exclude the rule and write this with the same name as custom
and its also not possible to write it only as custom rule
Thanks for Help

[2017-06-01 18:52] starr0stealer commented on #1587
@marcelofabri You just gave me another reason not to use `#imageLiteral(s)`. No build error on rename/remove, ugh, seems like an oversight on Apples part. Though for me, simply being "cute and clever" is enough, just looks weird in the middle of source code. I blame the Emoji fad train. I prefer compile time errors from `R.swift`, and its automated aspect.

@Dschee To me, files created by [SwiftGe

[2017-06-01 19:38] ZevEisenberg opened #1597 "False positive in empty_enum_arguments rule"
Unrelated to #1549.

file:

[code]

[code]

[2017-06-01 23:57] masters3d commented on #1585
This does seem to be the most popular arrangement. I did a draft rule https://github.com/realm/SwiftLint/pull/1501. I am wondering if we should make it so the default is
`let beforeACL = ["override"]`
If somebody wants to have another list they would have to add a list to their config file `["override", "final"]`

[2017-06-02 02:21] Dschee commented on #1587
@starr0stealer About SwiftGen and the inclusion into the Source folder: I actually put it there, but that doesn't mean SwiftLint is running with the files. We do have a best practice to put all files generated by SwiftGen into a folder named "Constants" within the "Sources" folder (see [here](https://github.com/JamitLabs/NewProjectTemplate-iOS/tree/stable/Sources)). This folder **we ignore** (see

[2017-06-02 11:32] starr0stealer commented on #1587
@Dschee No misunderstanding on my part, I seen you don't use the `#colorLiteral` and assumed it was already ignored by `SwiftLint` in your configuration.

If I gave the impression that I felt Literals were useless, I do apologize, not my intention. I merely expressed my dislike of them, I use `R.swift` because it provides a centralized "API" for all Assets within a project, something I felt should

[2017-06-02 19:06] #1525 closed

[2017-06-02 19:08] #1597 closed

[2017-06-02 19:29] marcelofabri commented on #1587
I still think the best solution here would be supporting a configuration and keeping the rule as one (and opt-in). I just don't think there's enough consensus in the community for making it a default rule.

Also, this rule is more useful when a person/team is using Xcode, but there are people who just use other IDEs or text editors.

[2017-06-02 20:06] marcelofabri commented on #1531
I was able to reproduce it with 0.19.0.

[2017-06-02 20:09] #1546 closed

[2017-06-02 20:21] marcelofabri commented on #1450
Since that is already tracked in #1151, I'm closing this.

[2017-06-02 20:21] #1450 closed

[2017-06-02 21:03] danielbyon opened #1601 "empty_count rule has false positives for non-Collection comparisons"
I'm seeing the empty_count rule triggering an error when doing a count comparison that isn't on a Collection, as shown in the screenshot below:

![screen shot 2017-06-02 at 1 46 56 pm](https://cloud.githubusercontent.com/assets/327737/26744292/2bb208ea-479a-11e7-93da-b2c1f23d07c6.png)

I think this can be solved by making the following change to Source/SwiftLintFramework/Rules/EmptyCountRule.swift

[2017-06-02 21:19] jpsim commented on #1601
Duplicate of #827

[2017-06-02 21:19] #1601 closed

[2017-06-03 00:31] jpsim commented on #1558
Thanks for reporting this. Filed a PR fixing this in #1603.

[2017-06-03 00:48] jpsim commented on #1531
I have a fix incoming.

[2017-06-03 07:34] tinder-cfuller commented on #1558
@jpsim Awesomeness 👍

[2017-06-03 16:37] Dschee commented on #1587
I just implemented said option in #1605.

[2017-06-06 01:53] masters3d commented on #1585
I updated this [rule](https://github.com/realm/SwiftLint/pull/1501). It can be configured as so:
[code]

[2017-06-06 12:50] acecilia opened #1607 "Why the cocoapods last version is 0.16.1 when the last stable release in the repo is 0.19.0?"
Thanks :)

[2017-06-06 15:07] marcelofabri commented on #1607
The latest version on CocoaPods [is updated](https://github.com/CocoaPods/Specs/blob/master/Specs/4/0/1/SwiftLint/0.19.0/SwiftLint.podspec.json). You probably just need to run `pod repo update`.

[2017-06-06 15:08] acecilia commented on #1607
My bad. Thanks @marcelofabri

[2017-06-06 15:08] #1607 closed

[2017-06-07 06:33] danielbyon commented on #827
Hi, my issue was a duplicate of this one, so I just created this PR to fix it: https://github.com/realm/SwiftLint/pull/1608

[2017-06-07 07:40] acecilia commented on #1352
Interested! :)

[2017-06-07 09:05] vidhyasri2106 opened #1610 "How to identify error/warnings from swiftlint?"
Is it possible to identify if the error/warning produced in the xcode after implementing swiftlint is xcode generated error or swiftlint generated error. I am doing CI-CD setup for my iOS application. After creating bot, xcode server shows all errors and warnings created using swiftlint in the xcode console. But i need to identify if the specific error is due to swiftlint or normal xcode error. Is

[2017-06-07 13:43] paulofaria commented on #637
any PRs on this?

[2017-06-07 21:16] SDGGiesbrecht commented on #1610
I can think of two ideas:

Method 1: Separate SwiftLint from the build in continuous integration.

The CI script would remove SwiftLint from the build phases of the Xcode project and run SwiftLint separately in a different portion of the script.

This is how [Workspace](https://github.com/SDGGiesbrecht/Workspace) does it. It has the side affect of allowing the CI to run SwiftLint with different fl

[2017-06-08 21:18] codytwinton commented on #1327
@jpsim Would this be added as a stand alone option for `autocorrect`, or would this be a child option of the `--format` option? If so, how can a child option be added to `--format`?

[2017-06-08 21:21] leoravagnani opened #1611 "Target based rule disabling"
I looked around but couldn't find an answer to this one.

Is there a way to toggle rules based on targets? More specifically, I want to disable a couple rules for my test targets but keep all the other ones going.

I reckon I can create another `swiftlint.yml` file on the folder of each test target, but if there's a more generic way to do it, it would be greatly appreciated as this would keep rule

[2017-06-08 21:27] prnewman opened #1612 "Warnings and errors do not appear in Xcode 8 editor"
SwiftLint is an amazing tool, but my team has been unable to get the warnings and errors to appear in Xcode 8.3.2 after adding a build phase as described here:

https://github.com/realm/SwiftLint#xcode

We get SwiftLint's output in Xcode's Report Navigator, but when you drill down to the offending line in a class, it is not highlighted yellow or red as you would expect:

https://github.com/realm/S

[2017-06-09 20:24] Liquidsoul opened #1614 "Incorrect report of force_unwrap violation in string (from Sourcery code base)"
Hi,

While fixing the swiftlint warnings in [Sourcery](https://github.com/krzysztofzablocki/Sourcery/pull/351), I noticed that there were some warnings about force unwrapping that should not be there:

They all involve the same code:

[code]

I tried to isolate a triggering example and it seems that you need to include the whole method:

[code]

I traced the condition of the violation and it seems

[2017-06-09 21:10] marcelofabri commented on #1614
#1584 should fix this

[2017-06-10 10:52] Dschee commented on #728
Until the SourceKit bug is fixed, I've added a custom rule within the `.swiftlint.yml` file like so:

[code]

This might not be as good as the previous implementation, but it works for most cases for me. It is relying on the `///` documentation syntax though (the alternative `/**` is not working with this rule).

[2017-06-11 16:30] ambientlight commented on #40
@jpsim, @yoiang:
Xcode is using SourceKit for real-time errors and warnings, right? So implementing this would require basically shipping the custom Swift toolchain?

[2017-06-12 12:55] bsarrazin opened #1615 "empty_enum_arguments is triggered for pattern matching using functions"
[code]

[2017-06-12 12:58] marcelofabri commented on #1615
Can you try with `master`? This should be fixed by #1598.

[2017-06-12 17:33] CraigSiemens opened #1616 "Excluding the identifier_name 'no' disables all exclusions"
Using version 0.19.0. Worked fine in 0.17.0.

When I exclude the identifier_name `no`, all other excluded variable names are ignored.

## Source
[code]

## .swiftlint.yml
[code]

Using this swift lint file causes `a`, `no`, and `b` to be marked as violations.

[code]

Commenting out the `no` exclusion in the swift lint file allows `a`, and `b` to be ignored properly.

[code]

Also tried wrapping t

[2017-06-13 07:27] bolismauro opened #1617 "Swiftlint + Travis Linux"
Hi everyone,
I'd love to use swiftlint in a CI environment. The problem is that, if I use a macOS environment, the build time is gigantic.

I was thinking to use a linux environment instead and run swiftlint inside this environment.

Is this possible? Theoretically all the pieces run on Linux, but I'm wondering If I'm missing something

[2017-06-13 08:54] fxcoudert opened #1618 "Swiftlint fails to build with Xcode 9"
On macOS 10.13 High Sierra, with Xcode 9 (all beta), swiftlint fails to build (link to [logs](https://gist.github.com/anonymous/ea7f1c961ad778ead0bf8242071722b8)):

[code]

[2017-06-13 11:04] Dschee commented on #1519
Maybe this could also be implemented by adding a configuration option like `write_only` that defaults to `false` to keep the current behavior. But when `write_only` is set to true, only on write requests a warning (or error) will be shown. What do you think?

[2017-06-13 12:19] Dschee commented on #640
I know the discussion about this rule is quite old but I still agree that an opt-in rule (or two?), where spaces around braces could be configured would be **a win for many projects**. We are actually using a very simple rule which I described in #1518 using a custom_rule & that works fine for us. But I think such an option **should be included into SwiftLint** even if it is opt-in.

Although the

[2017-06-13 12:33] marcelofabri commented on #640
What exactly `apply_to_other_code` would mean?

[2017-06-13 13:05] Dschee commented on #640
I couldn't find a good name for that, maybe you've got a suggestion? It is about all the other code where parentheses could be included like within a function like this (if it was turned on):

[code]

[2017-06-13 13:10] marcelofabri commented on #640
I think that for a first version of this rule, that option is not needed. That could be handled as an improvement later if people feel it's useful.

[2017-06-13 13:24] Dschee commented on #640
Well, the problem is: I need it. The fact that I want to implement this rule is to replace my custom rule. But without that option, I can't. This means I'll have no reason to implement it. ;)

[2017-06-13 13:25] marcelofabri commented on #640
Cool, but I'd try to think about a better name for the key then 😅

[2017-06-13 13:28] Dschee commented on #640
I thought about `apply_to_function_content` but that missed the fact, that closures could hold such cases, too. Other things I thought about were `apply_to_non_declarative_code` or `apply_to_non_declarations` as well as `apply_to_code_content`. But I'm not really happy with any of them ... :-/

[2017-06-13 13:30] Dschee commented on #640
By the way, I already renamed it to `apply_to_inner_code` (I just re-read it) – I had changed that name several times, stopping with that since I couldn't come up with anything better.

[2017-06-13 13:59] marcelofabri commented on #1615
I'm closing this. Feel free to reopen if #1598 doesn't fix it.

[2017-06-13 13:59] #1615 closed

[2017-06-13 14:02] marcelofabri commented on #1617
This is possible, but you need to install SourceKit by yourself. There's a docker image provided by @norio-nomura which already has it installed: `norionomura/sourcekit:311`.

Note that SwiftLint is slower on Linux (#1577) and some rules might behave different because Foundation is not the same one that is available on Darwin.

[2017-06-13 14:03] marcelofabri commented on #1612
This works for me, can you setup a sample project with this issue? Thanks!

[2017-06-13 14:06] marcelofabri commented on #1610
Method 1 described by @SDGGiesbrecht could be even simpler: create a script that runs `swiftlint lint` if not on CI (using ENV vars to check) and run it on the build phase.

Then on CI you run `swiftlint lint` on a separate job so you can treat it.

[2017-06-13 14:06] #1610 closed

[2017-06-13 14:07] marcelofabri commented on #1588
This looks like an issue with SonarQube and/or your integration. If running `swiftlint lint` works, there's not much we can do.

[2017-06-13 14:15] prnewman commented on #1612
@marcelofabri Thanks, I'll try to come up with something.

[2017-06-13 15:17] bsarrazin commented on #1615
@marcelofabri sorry for not getting back sooner.
I have not tried `master`. I trust that #1598 fixes, will wait until the next release to validate it.
I opened the bug because I couldn't find anything with `empty_enum_arguments`. Sorry for duplicating the bug.

[2017-06-13 15:20] marcelofabri commented on #1615
@bsarrazin No worries at all. Feel free to reopen if the next release doesn't fix this issue.

[2017-06-13 16:01] #1037 closed

[2017-06-13 16:19] ZevEisenberg commented on #640
How about `apply_to_function_bodies`? I don't think it's that confusing that it would also apply to closures. I think it's probably clear enough that "function bodies" refers to function-like constructs.

[2017-06-13 19:27] #614 closed

[2017-06-13 19:28] marcelofabri commented on #977
Fixed in #1620.

[2017-06-13 19:28] #977 closed

[2017-06-13 19:28] marcelofabri commented on #1614
Fixed in #1620.

[2017-06-13 19:28] #1614 closed

[2017-06-13 20:29] SDGGiesbrecht commented on #1610
Yes, Marcelo is right, his way is far simpler for most CI arrangements.

I am trying to remember what prevented me from doing it that way... but I the reason escapes me now. It is probably time to revisit that decision.

[2017-06-13 20:32] SDGGiesbrecht commented on #1610
Thanks, @marcelofabri.

[2017-06-13 20:44] bolismauro commented on #1617
Interesting, thanks!

[2017-06-13 20:47] #1531 closed

[2017-06-13 22:04] #1558 closed

[2017-06-13 23:40] Tableau-David-Potter commented on #728
@Dschee Nice.  To help others, you need to put this rule below a `custom_rule:` tag, like so:
[code]

One thing this doesn't support is putting '@' modifiers on their own line before a public definition, such as `@discardableResult`.  My regex fu is pretty weak.  Would someone like to come up with an expression that supports that?

Example:
[code]

Thanks,
___David___

[2017-06-14 02:22] norio-nomura commented on #1616
duplicate of #1424

[2017-06-14 06:33] Dschee commented on #728
@Tableau-David-Potter Thanks for the custom_rule pointer.

Regarding your example, I couldn't come up with a solution quickly for not marking that line. But given this situation, I came up with an example, that actually didn't work with the rule up until now. As an example, I would expect this to be marked with a missing_docs warning, too:

[code]

But the custom rule didn't cover that case. So I'

[2017-06-14 06:51] Dschee commented on #640
Well then, `apply_to_function_bodies` be it. Thanks for the suggestion.

I'll start implementing this sometime next week, hopefully. What are your thoughts about turning it on by default? I'm sure it will add a lot of warnings in many peoples projects who don't adhere to the most common community Swift standards. This is a question of: Do we want to declare the default configuration a Swift commun

[2017-06-14 07:16] #1616 closed

[2017-06-14 07:17] marcelofabri commented on #1617
I'm closing this, feel free to reopen or create another issue if you have more questions!

[2017-06-14 07:17] #1617 closed

[2017-06-14 11:53] ZevEisenberg commented on #640
I think it should be off by default, i.e. Everything should be `nil`. I don't think this is something most people think about, so it's mostly there for people who actively seek it out.

[2017-06-14 12:19] marcelofabri commented on #640
I think the rule should be opt-in, but it could have sensitive defaults.

[2017-06-14 12:45] Dschee commented on #640
I'm also for having sensitive defaults. The remaining question is what that "sensitive defaults" should be. My stricter first suggestion? My weaker second one? Or something entirely different?

[2017-06-14 15:29] bdrelling opened #1622 "EmptyCountRule catches words that include "count""
[EmptyCountRule.swift:34](https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/EmptyCountRule.swift#L34)

`let pattern = "count\\s*(==|!=|<|<=|>|>=)\\s*0"`

This should change so that it doesn't match words that _end_ in `count`, only the word `count` itself.

ie. `discount == 0`

[2017-06-14 15:31] marcelofabri commented on #1622
Duplicate of #827

[2017-06-14 15:32] marcelofabri commented on #1622
Actually, not a duplicate.

[2017-06-14 16:47] #1622 closed

[2017-06-15 06:29] #1587 closed

[2017-06-15 14:10] colinta opened #1625 "Empty enum arguments rule matches method calls"
Example:

[code]

[2017-06-15 14:13] marcelofabri commented on #1625
This should be fixed on master, can you try running with it?

[2017-06-15 15:03] colinta commented on #1625
I built SwiftLint from source and got the same warnings. 🙁

[2017-06-15 19:11] marcelofabri commented on #1625
I added it as an example in `nonTriggeringExamples` and it didn't trigger 🤔

Are you sure you're running the version you've built from `master`? 😅

[2017-06-16 08:39] colinta commented on #1625
I removed the version installed by homebrew just to be sure, then pulled master again, and ran `sudo make install` one more time.  Is there a way to check the version?  (oddly, `-v / --version / -h / --help` do nothing, that's unexpected)

The repo I'm running this against is public: https://github.com/ello/ello-ios

[2017-06-16 08:41] marcelofabri commented on #1625
`swiftlint version` is the command, but for master it'd return the same thing as the latest version 😅

I'll take a look at this later.

[2017-06-16 09:15] marcelofabri commented on #1625
These are all `empty_enum_arguments ` violations I've got:

[code]

They're seem valid to me.

[2017-06-16 09:18] colinta commented on #1625
I don't know what happened, but my previous attempts at compiling must not have worked, after changing the version to make sure I was running from source I just reran it against my code and, low and behold, no warnings! (I had already fixed the ones you found in my local branch).

Thanks for bearing with me, I can verify it's working in master.  Sorry it took so long to get that working!

[2017-06-16 09:18] #1625 closed

[2017-06-16 09:19] colinta commented on #1625
(I had this comment lined up in another tab, never hit submit)

I modified the source to change the version to `0.19.0-master` and recompiled, and `swiftlint version` outputs that version; so I'm definitely running the compiled-from-source binary.

[2017-06-16 09:20] marcelofabri commented on #1625
No worries, glad we could sort it out 💯

[2017-06-16 15:21] ArthurMaroulier opened #1626 "validates_start_with_lowercase on identifier_name configuration doesn't work"
Hello, I run SwiftLint 0.19.0 as a pod in xcode 8.3.3.
I've added configurations for the `identifier_name` rule in my yaml file:

[code]

`min_length` configuration works but `validates_start_with_lowercase` configuration don't.

I saw in the releases that `validates_start_with_lowercase` as opt-in configuration was added as an enhancement in v0.19.0.

Is my configuration wrong ?
Is somebody else

[2017-06-17 12:31] marcelofabri commented on #1626
Err, the key is actually wrong in the implementation: we print `validates_start_with_lowercase` in the description, but use `validates_start_lowercase` to read.

Could you try using `validates_start_lowercase` just to check if that's the only issue?

[2017-06-18 18:26] #1626 closed

[2017-06-19 08:24] MetalheadSanya opened #1628 "Implicitly Unwrapped Optionals with some protocols"
If we have Implicitly Unwrapped Optional property with more than one protocol swiftLint determinate this as force_unwrapping error

[code]

[2017-06-19 08:27] ArthurMaroulier commented on #1626
Hello, I've checked with v0.20.0, it works now, thanks for your reactivity.

[2017-06-19 08:53] marcelofabri commented on #1626
@ArthurMaroulier thanks for the feedback!

[2017-06-19 15:22] marcelofabri opened #1629 "extension_access_modifier shouldn't trigger on open declarations"
[code]

[2017-06-19 15:46] marcelofabri opened #1630 "vertical_parameter_alignment_on_call shouldn't trigger after blocks"
[code]

[2017-06-20 00:13] vincentisambart opened #1631 "When --path is used, the directory's .swiftlint.yml is ignored"
When using SwiftLint 0.20.0, when specifying a path (that is not the current directory) with `--path`, that directory's `.swiftlint.yml` is ignored.

To reproduce it, just create the following 2 files in a subdirectory.

[code]

[code]

Specifying the path causes the directory's `.swiftlint.yml` to be ignored.
[code]

[2017-06-20 00:16] ileitch commented on #1630
I personally quite like the new format of
[code]

However, what is problematic is last argument closures:
[code]

If I do indent the `{ _ in` line to satisfy the rule, the `opening_brace` then triggers for the same line. I could explicitly label the last argument, but I feel the lint rule should change rather than my code in this instance.

[2017-06-20 00:24] ileitch commented on #1630
Here's another erroneous case:
[code]

As in my previous example, moving the first closure to a newline triggers the `opening_brace` rule.

An argument label cannot be added to the first closure argument as this is a UIKit function which is exposed in Swift as `func performBatchUpdates(_ updates: ...`

[2017-06-20 08:15] amlcurran commented on #1459
I'd be interested in this being implemented too

[2017-06-20 14:48] marcelofabri commented on #1628
What version of SwiftLint are you using? I couldn't reproduce it with 0.20.0.

[2017-06-20 15:06] #1629 closed

[2017-06-20 15:16] marcelofabri commented on #1631
Thanks for the detailed issue. This is probably a side effect of #1604, in case someone wants to take a look at it.

I'll try to check it later.

[2017-06-20 16:02] Dschee opened #1633 "Rule Request: Unnecessary Closure Params Parantheses"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like this rule might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it hel

[2017-06-20 16:09] Dschee opened #1634 "Rule Request: If as Guard"
This is a rule request. I'm willing to implement this myself and send a PR, but before doing that I'd like to know if the rule is wanted or not. To explain the desired rule, I'd like to first post the **custom rule** we are already using in our projects:

[code]

I felt like this rule might be useful for other projects as well, which is why I'm posting it. What do you think about it? For us it hel

[2017-06-20 18:33] Uncommon commented on #1634
It should look for `continue` and `break` as well.

[2017-06-20 18:35] Uncommon commented on #1633
What issues does it prevent? In my own code I've been preferring to always have the parens, but if they can cause problems maybe I should reconsider.

[2017-06-20 20:16] marcelofabri commented on #1633
Closing this as a duplicate of #1483. I was concerned about this rule because of the whole SE-0110 discussion, but it seems that is being reverted, so feel free to implement this.

This is just a matter of style, removing extra clutter that is not needed (as parens in `if`s for example).

[2017-06-20 20:16] #1633 closed

[2017-06-20 20:21] marcelofabri commented on #1634
I think this would be welcome, but I'd make it opt-in:

1. Sometimes negating a condition makes it harder to read (i.e. `!foo.notAvailable`)
2. Any function that returns `Never` (e.g. `fatalError`) can be used instead of `return/break/continue`

[2017-06-20 21:59] Dschee commented on #1634
Thanks for the pointers. I agree that `continue` and `break` should be added, too.

I also understand why this is not turned on by default, although we might work around the issue you mentioned by checking the condition for negations and not showing an error in those cases. That would make it hard for people to understand when the rule applies though, so I'm not sure if we should do that.

[2017-06-20 22:34] marcelofabri opened #1635 "vertical_parameter_alignment_on_call shouldn't trigger on trailing closure"
From https://github.com/realm/SwiftLint/issues/1630#issuecomment-309608237:

[code]

[2017-06-20 22:37] marcelofabri commented on #1630
@ileitch even Xcode loses itself on your latest example 😅

anyway, I opened #1635 for the trailing closure indentation, because I think that's another issue.

[2017-06-21 19:23] myworkout-jenkins commented on #319
@glennrfisher It would be cool to have a map between the Ray Wenderlich rule and the actual rule name for `swiftlint` (possibly also with config options where applicable)

[2017-06-21 19:36] thislooksfun opened #1637 "SwiftPM skip dependencies by default"
When running `swiftlint` in an SPM project it recursively lints all the dependencies as well, which is almost never useful behavior, since the dependencies are out of the control of the user running the command. I'm aware the workaround is to only run `swiftlint` in the `Sources` and `Tests` directories or to use the `excludes` directive, but it still seems like this should be the default behavior

[2017-06-21 19:58] myworkout-jenkins commented on #319
Maybe this is a bug, but this function passed without any validation error (should be caught be `identifier` rule because of the underscore?):
`func some_ImProperNAmeedMethodToTriggerWarning()`.

[2017-06-21 19:59] marcelofabri commented on #319
@myworkout-jenkins please open a new issue with more details (sample code, configuration file, SwiftLint version, etc)

[2017-06-21 20:03] myworkout-jenkins commented on #319
@marcelofabri I will, just wanted to get it confirmed wether it was a bug or not. I can provide a sample project setup etc. and post an issue if it indeed is a bug

[2017-06-21 20:07] marcelofabri commented on #319
there's no way to say if it's a bug or not without a proper issue 😉

[2017-06-22 01:46] mazen-kasser commented on #413
@mgrebenets Hi Max, its great to find your solutions online :)
What is the use of `local filename="${1}"`? it will work even without this line.

[2017-06-22 11:38] pak-amsiq opened #1638 "Rules documentation & usage"
Hello everyone!

Can I find documentation & examples of all SwiftLint rules?

I found 32/75 rules on this link:
http://kevindelord.io/2016/04/06/integrate-swiftlint/

Thank you!

[2017-06-22 11:55] pak-amsiq commented on #1638
Thank you!

[2017-06-22 12:22] marcelofabri commented on #1638
This is something that we want to improve though: check #1107 and #1288 for some ideas. I'm closing this for now.

[2017-06-22 12:22] #1638 closed

[2017-06-22 13:19] danilobecke commented on #413
hi, I made a bash script to check only modified files
https://github.com/danilobecke/lint/blob/master/lintDiffOnly.sh

[2017-06-22 14:52] Uncommon opened #1639 "Weak Delegate should not trigger for `let`"
I have a particular property whose name happens to end in "delegate", but it's declared with `let` so it doesn't quite make sense to recommend making it weak. That seems like an easy enough case for the rule to recognize and skip.

(If that naming seems weird, it's because the object is used as a delegate for something else, not for the object that has this property)

[2017-06-22 15:22] marcelofabri commented on #1639
I'm not sure if this is valid, because this could be a case where the delegate is just immutable (it should be mutable and `weak` to avoid retain cycles).

[2017-06-22 15:36] Uncommon commented on #1639
I guess that's possible if the delegate were passed in through `init`, though the more normal practice is to have a settable property.

[2017-06-22 16:31] Thomas-Pelfrene opened #1640 "SwiftLint finished with errors (exit code: 2)"
Hi!
I looked for google but couldn't find any answer..
I’m trying to use Swiftlint with Fastlane, it seems to work but at the end I have an issue :
« SwiftLint finished with errors (exit code: 2) »
Swiftlint version -> 0.20.0

<img width="593" alt="result_error" src="https://user-images.githubusercontent.com/9356101/27445072-d9f63924-5778-11e7-9b54-f4a10d4c0a8e.png">

Do I do something wrong ?
Tha

[2017-06-23 09:17] marcelofabri commented on #1640
SwiftLint is returning an error code because there're violations in your code.

[2017-06-23 11:12] prnewman commented on #1612
I added Swiftlint to a new project and the warnings appear in the Xcode editor. So I'll have to figure out what's different about the project where the warnings do not appear. Thanks for your help!

[2017-06-23 11:12] #1612 closed

[2017-06-23 11:36] marcelofabri commented on #1612
Thanks! Please share the outcome of your research later 😉

[2017-06-23 12:07] marcelofabri commented on #1639
I agree, but I wouldn't rely on that. Unfortunately, I don't have any other suggestions.

[2017-06-23 12:08] marcelofabri commented on #1637
I don't agree that this should be the default behavior, since people can use different structures for their project and/or want that the dependencies are linted as well.

[2017-06-23 14:21] Uncommon commented on #1639
OK, I guess it's not as clear cut as I thought.

[2017-06-23 14:21] #1639 closed

[2017-06-23 21:25] SDGGiesbrecht commented on #1637
@marcelofabri

Ignoring uneditable dependencies seems like a reasonable default to me.

By default, you could ignore `.build`, but still lint `Packages`.

Since Swift 3, packages only appear in the `Packages` folder if the user specifies that they should be editable by running the command `swift package edit ...`. More information available [in the Swift Package Manager’s own documentation](https:

[2017-06-23 21:29] marcelofabri commented on #1637
I thought the issue was talking about `Packages`, not `.build`. I think in this case it might make sense to exclude `.build` by default, but I'd say that if you specify `excluded` in your config, you should add `.build` to it.

[2017-06-23 21:31] thislooksfun commented on #1637
Yeah, that's what I'm doing now and it's working just fine.

[2017-06-23 23:11] #1635 closed

[2017-06-23 23:25] marcelofabri opened #1643 "vertical_parameter_alignment_on_call should be more flexible if there's a multiline literal"
[code]

Similar to #1630

[2017-06-24 19:17] #1630 closed

[2017-06-24 21:47] jdmarshall90 commented on #58
Could this be enhanced to include *all* declarations, and not just top-level ones?

[2017-06-25 19:43] remaerd commented on #1131
I don't think giving thumbs down will motivate anyone to implement this features. If @Trifusion have nothing to contribute, Please be patient and don't sh*t someone who are trying to help.

@Trifusion 's regex was wrong. I tried to wrote one too (`[\\t]*.+{(?!.*}\\n)`) but it's not working appropriately. If there's a working Regex who can help, I will learn and try to make commits into the related

[2017-06-26 08:07] Thomas-Pelfrene commented on #1640
Thank you !

[2017-06-26 08:08] marcelofabri commented on #1640
I'm closing this issue, feel free to reopen or open a new issue if you have more questions!

[2017-06-26 08:08] #1640 closed

[2017-06-26 09:40] MetalheadSanya commented on #1628
Sorry. In latest version doesn't respoduce

[2017-06-26 10:21] #1628 closed

[2017-06-26 16:01] prnewman commented on #1612
@marcelofabri Incredibly, the issue was resolved by removing the included section from the swiftlint yaml file:

[code]

We retained the included section that follows it.

[2017-06-26 16:04] marcelofabri commented on #1612
@prnewman If you can come up with a sample project, please open a new issue. That shouldn't happen.

[2017-06-26 19:36] prnewman commented on #1612
@marcelofabri The bug has to do with case-sensitivity.

This works:

[code]

This does not (notice one lowercase 'w'):

[code]

[2017-06-27 05:42] gretzki commented on #1357
Hi @jpsim .
As stated above in "expected behavior", I expected a recursive merge of config files up the folder hierarchy. But that's just one possible way to go I guess, so it's also ok as it is.
Nevermind, I'll close this issue for now ;)

[2017-06-27 05:42] #1357 closed

[2017-06-29 10:13] Bartzy opened #1647 "Set file_length rule only as warning, but still set custom length value"
Hi,

I want to enable the file_length rule only as a warning, but still set a custom length value for it.
I tried several options but none worked.

Thanks!

[2017-06-29 10:18] marcelofabri commented on #1647
@Bartzy have you tried setting the error limit to `null`?

[2017-06-29 11:47] Bartzy commented on #1647
@marcelofabri
Yes, and then I get this output at the beginning of `swiftlint`:
[code]

[2017-06-30 05:57] mRs- commented on #1061
I don't understand this warning exactly. You write

IMHO if the dealloc of the super or the subclass is called it's pretty normal to remove the observers here, because the Object (even the sub or the super class) is gone from memory. It's enforcing the Observer to be in the notification center pointing on dead code.

[2017-06-30 11:29] marcelofabri commented on #1061
Imagine you have a View Controller. In `viewDidDisappear:`, you call `NotificationCenter.default.removeObserver(self)`.

This will unregister the view controller from ALL notifications, including the ones that the superclass registered. So if `UIViewController` actually needs to listen for any notification, it won't get it.

That's way this is an issue. The only place it's safe to do that is in `d

[2017-06-30 12:18] mRs- commented on #1061
Yeah but here it's the same principle. If my subclass is calling `viewDidDisappear` it will be called in my superclass as well. So this warning is completely useless.

[2017-06-30 12:21] marcelofabri commented on #1061
It's not, because `viewDidDisappear` from the superclass will not register for notifications again.

Check the documentation: https://developer.apple.com/documentation/foundation/nsnotificationcenter/1413994-removeobserver?language=objc

[2017-06-30 12:42] mRs- commented on #1061
Okay now I get it. But the rule is wrong anyway. It's implemented for objective-c code and the right place to do this would be `deinit` and not `dealloc`

[2017-06-30 12:43] mRs- commented on #1061
I will create a Pull Request to fix this issue.

[2017-06-30 12:44] marcelofabri commented on #1061
It's not implemented wrong, just the description is using Objective-C in this issue. Check the [examples](https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/NotificationCenterDetachmentRuleExamples.swift).

[2017-06-30 13:00] mRs- commented on #1061
Sorry it was my bad the code looked like this…
[code]

Thanks for helping out @marcelofabri

[2017-06-30 13:26] marcelofabri commented on #1061
No problem!

Unfortunately we can't (yet?) recognize this case, so this rule is pretty dumb in general (that's why it's opt-in).

[2017-06-30 14:26] marcelofabri opened #1648 "False positive in operator_usage_whitespace"
[code]

[2017-07-01 02:16] jdmarshall90 opened #1649 "Rule request: explicit access control level"
See title

I know there is a rule for *top level* ACL declarations, but one for *all* declarations would be nice. This would probably be opt-in, as it would mostly be useful by frameworks and not applications.

[2017-07-01 17:48] #1631 closed

[2017-07-01 17:49] #1643 closed

[2017-07-01 18:17] marcelofabri commented on #1648
Actually, this is triggering because of the extra space, not `>>` or `<<` 🤦‍♂️

[2017-07-01 18:17] #1648 closed

[2017-07-02 01:01] jdmarshall90 opened #1652 "Rule request: bring back missing_docs"
Any chance this could be revived?

[2017-07-02 21:37] #1282 closed

[2017-07-02 22:53] #1078 closed

[2017-07-02 22:54] marcelofabri opened #1653 "Add configurations to Rules.md"
Now that #1107 was merged, we can work on improvements:

List rules configuration. In order to do this right, we'd need to change a bit the `RuleConfiguration` protocol to provide more information about the parameters.

[2017-07-02 22:55] marcelofabri opened #1654 "Add detailed descriptions to Rules.md"
Now that #1107 was merged, we can work on improvements:

Add a `detailedDescription: String?` on `RuleDescription` that would be used to generate the docs.
All descriptions currently were thought for console and Xcode usage and we should go into more details in the docs. @jpsim did an awesome job on the [0.14 release blog post](https://realm.io/news/swiftlint-0-14-rules-cocoapods-swiftpm-linux/) t

[2017-07-03 09:55] marcelofabri commented on #1611
SwiftLint does not know about targets. It only knows about files and paths.

Currently, using nested configs is the best approach to this. It would be much better user experience if we ever implement #676.

[2017-07-03 09:58] marcelofabri commented on #1574
I'm closing this as a duplicate of #136. My suggestion is to upvote [SR-5057](https://bugs.swift.org/browse/SR-5057) and/or file a new issue there to track this specific example.

[2017-07-03 09:58] #1574 closed

[2017-07-03 10:00] marcelofabri commented on #1458
Closing this due to lack of activity. Feel free to reopen if the issue persists.

[2017-07-03 10:00] #1458 closed

[2017-07-03 10:11] marcelofabri commented on #634
Closing this for now since we've increased the default value.

[2017-07-03 10:11] #634 closed

[2017-07-03 10:15] marcelofabri commented on #891
Closing this for now since all these declarations should trigger 😬

[2017-07-03 10:15] #891 closed

[2017-07-03 10:16] marcelofabri commented on #1024
This is blocked by https://bugs.swift.org/browse/SR-2866.

[2017-07-03 10:21] marcelofabri commented on #1553
@jpsim Do you mean when running unit tests?

[2017-07-03 10:26] marcelofabri commented on #549
Closing as duplicate of #136.

[2017-07-03 10:26] #549 closed

[2017-07-03 10:32] marcelofabri commented on #550
This seems to be fixed on 0.20.1.

[code]

[2017-07-03 10:32] #550 closed

[2017-07-03 14:12] marcelofabri commented on #1653
Here's a summary of the changes I want to do to enable this:

* Make all rules to take a dictionary. This will have the side effect of removing support to implicit configurations (#1475), but I think this is better in the longer term.
* Add a `var parameters: ParameterDefinition { get }` on `RuleConfiguration`. This will be used for documentation and initing the variables in a `RuleConfiguration`.

[2017-07-03 19:48] VladimirHorky86 commented on #1618
It is related with Xcode 9 beta 2. I have same issue but macOS 10.12 Sierra

[2017-07-04 08:45] #1469 closed

[2017-07-04 08:47] marcelofabri commented on #1058
I'm closing this since #1656 was merged and it finds top level `fileprivate` declarations, but also has a rule to trigger on all `fileprivate ` usage. This second one will be useful when using Swift 4, since basically it'll make possible to convert all the "acceptable" usages of `fileprivate` to `private`.

[2017-07-04 08:47] #1058 closed

[2017-07-04 08:50] marcelofabri commented on #1588
Closing this since there's nothing much to do on our side.

[2017-07-04 08:50] #1588 closed

[2017-07-04 14:48] gwsounddsg opened #1657 "empty_count still throwing false positives"
issue #1622 closed this exact issue and was updated in v0.20 but false positives are still happening. Here's an example:

[code]

[2017-07-04 15:21] marcelofabri commented on #1657
This is not the same issue as #1622, it's a duplicate of #827.

[2017-07-04 15:21] #1657 closed

[2017-07-05 01:35] gwsounddsg commented on #1657
@marcelofabri could you elaborate on how this is not the same as #1622? In the example code I showed swiftlint is throwing an `empty_count` error.

[2017-07-05 08:20] marcelofabri commented on #1657
#1622 is about words ending with `count`, such as `discount`. Please take a look at #827 for more discussion about your case.

[2017-07-05 14:16] Bersaelor opened #1659 "Add optional rule to prevent empty lines at the start of methods or closures"
So far we have `vertical_whitespace` with the `max_empty_lines` parameter.

There are plenty of places where empty lines are good to increase grouping.

One thing we have observed though and would like to prevent in our projects are empty lines at the beginning, like in
[code]
or
[code]

we don't think there is any reason to allow empty lines at the start of methods so I would like to propose a ne

[2017-07-05 14:43] marcelofabri commented on #1659
Related to #1345 and #640

[2017-07-05 15:47] Bersaelor commented on #1659
Thank you for linking those issues @marcelofabri .
I agree for type declarations a padding at the start or end is something seen a lot.
What we wanted to prevent in our team is code being needlessly bloated by empty lines at the beginning of `func` or trailing closures.
Not 100% sure how to separate the type declarations from the closure implementations with regex, will try my best.

[2017-07-06 19:26] kimdv commented on #1029
Can still reproduce this in 0.20.1.

[2017-07-06 20:13] jpsim commented on #413
Assuming SwiftLint's cache is working reliably, what's the advantage of doing this

[2017-07-07 10:15] marcelofabri commented on #413
One use case I can see would be slowly integrating SwiftLint by requiring only touched files to be without warnings. This way you can avoid a huge reformatting commit for example.

[2017-07-07 14:04] jpsim commented on #413
That's a great use case

[2017-07-10 22:38] masters3d commented on #1649
Do you have any examples on how explicit non top level declarations would benefit from this requested rule?
The use case from the top level ACL rule is frameworks.

[2017-07-10 22:46] masters3d commented on #1652
@marcelofabri What was the rational in removing missing docs?
https://github.com/realm/SwiftLint/pull/1455/files

[2017-07-10 23:28] jpsim opened #1660 "Consider renaming rules_docs command"
Underscores in POSIX commands aren't common. Maybe `generate-docs` or `rules-docs`?

For example, Carthage uses [`copy-frameworks`](https://github.com/Carthage/Carthage/blob/0.24.0/Source/carthage/CopyFrameworks.swift#L9) rather than `copy_frameworks` as a command.

[2017-07-11 08:02] marcelofabri commented on #1660
I'm okay with either options, especially since this shouldn't be used by users in general.

[2017-07-11 08:08] marcelofabri commented on #1652
It didn't work with Swift 3. There was an issue with more history (I'm on my phone right now, otherwise I'd link it here)

[2017-07-11 15:29] jpsim commented on #1660
How about just `docs`?

[2017-07-11 15:41] marcelofabri commented on #1660
I prefer the other options. Just `docs` can be misleading IMO

[2017-07-11 16:43] jpsim commented on #1652
See #728 and [SR-2487](https://bugs.swift.org/browse/SR-2487) for details.

[2017-07-11 16:43] jpsim commented on #1660
Addressed in #1662

[2017-07-11 16:43] #1660 closed

[2017-07-11 18:06] eMdOS opened #1663 "Documentation: Missing information about versions"
Would be good if having a list/table of `Swift` versions vs `SwiftLint` version. There is no clear info about what SwiftLint version I should install when using `x` version of `Swift`.

[2017-07-11 18:11] jpsim commented on #1663
Maybe we could add this table to the README?

| Swift version | Last supported SwiftLint release |
| ------------- | -------------------------------- |
| Swift 1.x     | SwiftLint 0.1.2                  |
| Swift 2.x     | SwiftLint 0.18.1                 |
| Swift 3.x     | SwiftLint 0.20.1 (latest)        |
| Swift 4.x     | SwiftLint 0.20.1 (latest)        |

[2017-07-11 18:14] eMdOS commented on #1663
Yep, it would be really useful.

Thanks for clarifying.

[2017-07-11 18:22] jpsim commented on #1663
See 629b053

[2017-07-11 18:22] #1663 closed

[2017-07-11 22:43] ohadnav opened #1666 "Swiftlint not working in AppCode"
I get the following error:

[2017-07-12 01:49] ChristopherRogers commented on #1294
I'd like to add that if used with autocorrect, it turns into `#!/usr / bin / swift`.

[2017-07-12 03:21] jpsim commented on #1666
Looks like you're telling AppCode to find SwiftLint in a place where it isn't. Why is this a SwiftLint issue?

[2017-07-12 05:03] jkmathew commented on #1611
Hi @marcelofabri, I have a doubt regarding the target based operation, I have multiple targets in my project and If I add build phase to run swiftlint  only for one target will it take all the files in the project and run swiftlint?

The real scenario is for SPM based projects, for each dependency its creating one target. And I have to run swiftlint only for my target. Please refer screenshots bel

[2017-07-12 08:29] scspijker opened #1667 "Disable rule warnings/errors but still run rule with autocorrect"
When we get certain warnings (mainly whitespace warnings), we don't want to get warned everytime, since Swiftlint can take care of this for us.
However, `swiftlint autocorrect` is not fast enough to run in the build process (we run it as a push hook).
I would like it if we could disable warnings / errors for a rule, but keep it enabled for `swiftlint autocorrect`.

[2017-07-12 10:53] ornithocoder commented on #1666
@ohadnav is `/usr/local/bin/swiftlint` the path to the swiftlint binary or to the directory where the binary is? Try `/usr/local/bin/` instead.

[2017-07-12 11:35] ohadnav commented on #1666
how can I alter the path to a plugin in AppCode? :O

On Wed, Jul 12, 2017 at 1:54 PM Ornithologist Coder <
notifications@github.com> wrote:

[2017-07-12 13:30] ornithocoder commented on #1666
@ohadnav that's a good question :-) I stopped using AppCode a month ago, when my license expired and I didn't renew. I was just assuming it was looking on the wrong path and that the path was somehow configurable.

Can you try this on the terminal?

[code]

It will show where your swiftlint is installed.

[2017-07-12 14:07] jpsim commented on #1666
SwiftLint doesn't provide an AppCode plugin. Are you perhaps using this plugin?
 https://plugins.jetbrains.com/plugin/9175-swiftlint

If so, perhaps you could file an issue on its GitHub repo? https://github.com/bealex/SwiftLintAppCode

[2017-07-12 14:32] jpsim commented on #1667
You can do this if you use multiple SwiftLint configuration files.

[code]

[code]

[code]

[2017-07-12 14:38] scspijker commented on #1667
Although this solution would work, it would require me to duplicate the normal set of rules, correct?
Because yaml does not support import/include statements.

[2017-07-12 14:41] jpsim commented on #1667
Yes, SwiftLint configs don't yet support merging/inheriting. That's tracked in #676.

[2017-07-12 18:35] SDGGiesbrecht commented on #1611
@jkmathew, Swift Package Manager targets map perfectly to folders. You can use `excluded` and `included` (see the main [read‐me](https://github.com/realm/SwiftLint#configuration)) to choose which folders to proofread.

If you are primarily concerned with ignoring external dependencies, you will find more specific advice in #1637.

(If you have multiple targets in the same package that need differe

[2017-07-12 18:50] jkmathew commented on #1611
yeah thats what I am doing now,
added
[code]
in my swiftlint.yml

[2017-07-12 18:58] mpokryva opened #1669 "while let _ incorrectly changed to while _"
Ran autocorrect and SwiftLint changed:
[code]
to
[code]

Expected result: Keep it unchanged.

[2017-07-12 18:58] jpsim commented on #1669
Thanks for reporting this.

[2017-07-12 18:59] jpsim commented on #1669
Is this with SwiftLint 0.20.1

[2017-07-12 18:59] mpokryva commented on #1669
Yes, it is.

[2017-07-12 20:10] mpokryva commented on #1669
This is probably due to the removal of unnecessary variables in `if let` statements.
Example: `if let foo` (foo is not used) --> `if _` .

[2017-07-12 20:12] jpsim commented on #1669
Sounds like a good Swift Evolution opportunity to align those two syntaxes.

[2017-07-12 20:19] jpsim opened #1670 "Fatal error in LetVarWhitespaceRule"
On current `master`.

[code]

[2017-07-12 21:46] marcelofabri commented on #1669
That's not supported in `if`s as well:

[code]

[2017-07-12 22:17] #1670 closed

[2017-07-12 22:22] #1577 closed

[2017-07-12 23:39] #1669 closed

[2017-07-13 02:31] jdmarshall90 commented on #1649
I don't have any specific examples; this is just more of a personal preference that I like to follow when developing frameworks. It gives more context to anything that you're looking at within the library.

[2017-07-14 08:39] amlcurran commented on #1162
I'd still be interested in this. We have a similar issue, and there are a fews, where I feel multiple reporters is the most useful:

- Have a CI-specific configuration file. The risk of this is that the two configuration files could get out of sync.
- Have multiple reporters. Really happy to add a PR for this.
- Use an environment variable to set which reporter to use, and add this to the build ph

[2017-07-14 10:15] marcelofabri commented on #1162
@amlcurran There's #1227 to track it.

However, for most use cases, I'd say it's easier to just use `--reporter` instead. You could have two `.sh` in version control (one with each reporter, for example).

But I agree that in some cases it'd be useful to have multiple reporters.

[2017-07-14 22:13] #1309 closed

[2017-07-14 22:13] marcelofabri commented on #1589
Implemented in #1678.

[2017-07-14 22:13] #1589 closed

[2017-07-15 09:00] marcelofabri commented on #1461
Implemented in #1471.

[2017-07-15 09:00] #1461 closed

[2017-07-15 09:10] marcelofabri opened #1680 "Run autocorrect on oss-check"
This would be useful to check performance of `swiftlint autocorrect` (e.g. for #1679).

[2017-07-15 09:14] marcelofabri commented on #736
@mgrebenets Could you please check if this is still valid with 0.20.1? We made some changes in this area and this might have been fixed too.

[2017-07-15 09:16] marcelofabri commented on #1666
Closing this since it looks like there's nothing we can do here.

[2017-07-15 09:16] #1666 closed

[2017-07-15 19:35] marcelofabri commented on #1327
Closed by @codytwinton in #1613 🎉

[2017-07-15 19:35] #1327 closed

[2017-07-15 21:13] marcelofabri commented on #428
Closing this due to lack of inactivity. Feel free to reopen/send a PR if needed.

[2017-07-15 21:13] #428 closed

[2017-07-16 15:30] amlcurran commented on #1227
Hi, as commented on the previous issue (#1162), I'd really like this to be supported.

If the Swiftlint team agree with the idea, I'd be really happy to implement it and submit a PR.

[2017-07-16 15:43] jpsim commented on #1227
Could you share a design with us before implementing it? What would usage look like, how would it coexist with the current approach?

[2017-07-16 19:06] jpsim commented on #1680
We could also have Swift build commands to confirm that if the build succeeded before correcting, that it still succeeds after correcting.

[2017-07-16 19:14] marcelofabri commented on #1680
This would be really awesome, but maybe it could be hard because we'd have to deal with each project configuration.

[2017-07-16 20:12] jpsim commented on #1680
Definitely doesn't need to be done for all of them to provide value.

[2017-07-17 06:11] #1578 closed

[2017-07-17 12:30] marcelofabri commented on #1586
Closed in #1681 and #1683.

[2017-07-17 12:30] #1586 closed

[2017-07-18 07:35] marcelofabri commented on #1680
You could even leverage https://github.com/apple/swift-source-compat-suite 🤔

[2017-07-18 17:59] Aranoledur commented on #1357
Hi, @gretzki! Have you debugged this merge call?
Merge1)
$PROJECT_ROOT/.swiftlint.yml (as parameter)
$HOME/corporation-wide-swiftlint.yml (as self)

I set a breakpoint at `Configuration.merge` and it's not hit at this case. Only Merge2 is called. So the logic for `--config`parameter is reset config file at --path or working directory.

[2017-07-18 19:15] amlcurran commented on #1227
Sure.

I would imagine it would be relatively simple - instead of the current single string for reporter, it could either be a comma-separated string or a YAML sequence:

[code]

or

[code]

Either way, the current version would be maintained for compatibility.

Codewise, it only looks like the changes would be required would be in [`LintCommand`](https://github.com/realm/SwiftLint/blob/master/Sou

[2017-07-18 19:20] jpsim commented on #1227
Ok, but where would it output? Reporters currently log to stdout, so what would multiple reporters output to? Files? How would you specify those? If not files, what else?

[2017-07-18 19:30] amlcurran commented on #1227
Good point! I'll think about how could work - and how we would want it to
work from our main use case - and get back to you.

On Tue, 18 Jul 2017 at 21:20 JP Simard <notifications@github.com> wrote:

[2017-07-18 19:49] SDGGiesbrecht opened #1693 "Flag to add Highest and Lowest Level Config Files (in Merge Tree)"
This takes over from @Aranoledur’s side track in #1687. Since this requires merging of nested configurations, this would be a future, independent enhancement after that is completed.

This is also the resurrection of @jpsim’s [suggestion](https://github.com/realm/SwiftLint/issues/1323#issuecomment-285782712) in #1323, now that the groundwork (merging, etc.) that was missing at the time is nearly f

[2017-07-18 20:28] Aranoledur commented on #1693
Thats awesome, thanks! I was thinking to open an issue, because as I see, many people need this feature. And your description of this feature is complete and clear. Also it would be great to have two flags for base and override. And we have to decide what`--config` really do after #1687 is completed.

[2017-07-18 21:19] #1647 closed

[2017-07-19 08:55] marcelofabri opened #1694 "Crash when using --config and --path with a Swift file"
Probably introduced on #1644. Reported by @valeriomazzeo on https://github.com/ashfurrow/danger-swiftlint/issues/49.

[code]

[2017-07-19 09:20] marcelofabri commented on #1694
A current workaround is to provide an absolute path for `--config`.

[2017-07-19 11:44] Rahul15963214 opened #1696 "How to write custom rules to check if super is written in viewDidLoad"

[2017-07-19 11:55] marcelofabri commented on #1696
Do you mean if `super.viewDidLoad()` is called?

[2017-07-19 11:56] Rahul15963214 commented on #1696
Yes
On Wed, 19 Jul 2017 at 5:25 PM, Marcelo Fabri <notifications@github.com>
wrote:

[2017-07-19 11:58] marcelofabri commented on #1696
Check [`overridden_super_call`] (https://github.com/realm/SwiftLint/blob/master/Rules.md#overridden-methods-call-super) rule. It already has this validation.

[2017-07-19 11:58] #1696 closed

[2017-07-19 15:17] marcelofabri commented on #1596
I'm closing this because I don't think we should ever support expose a regex as configuration. If needed, each rule should expose its own configuration to change behavior.

[2017-07-19 15:17] #1596 closed

[2017-07-19 15:33] marcelofabri commented on #395
I'm closing this because it looks like it was implemented at some point. Feel free to reopen if this is not the case.

[2017-07-19 15:33] #395 closed

[2017-07-19 15:40] marcelofabri commented on #1459
We *could* implement this with capture groups and then adding a new option like `capture_group` which would be the index of the capture group.

IMO this will not be something that people use all the time, but can be valuable for those who need it (especially since we don't have a plugin system).

[2017-07-19 15:46] marcelofabri commented on #1618
SwiftLint now builds on Xcode 9 since #1689 🎉

[2017-07-19 15:46] #1618 closed

[2017-07-19 15:47] marcelofabri commented on #1449
It's not clear for me the outcome of this. Can we close it?

[2017-07-19 15:47] #1483 closed

[2017-07-19 15:51] marcelofabri commented on #1634
My second point basically means that probably this rule should be opt-in or we should check for common functions that return `Never`.

Related rule request: #596.

[2017-07-19 15:57] Sega-Zero commented on #1449
Yes. Don't have enough time for documentation PR yet, mayble later.

[2017-07-19 15:58] Dschee commented on #1634
I think just making it opt-in should be fine.

[2017-07-19 16:07] Uncommon commented on #596
Note that its also possible to have:

[code]

[2017-07-19 18:29] #1449 closed

[2017-07-19 19:17] #1694 closed

[2017-07-20 15:16] ahmettaha opened #1697 "export lint results to file"
Hello,

I'm trying to save the lint results to a file on our CI server with the following run script
`
"${PODS_ROOT}/SwiftLint/swiftlint" > "${SRCROOT}/lint.txt"`

it doesnt seem to work. What am I missing?

[2017-07-20 16:12] marcelofabri commented on #1697
I've tried to reproduce it on a project, but it works for me (I have tried running both in Xcode and with `xcodebuild`) 😅 . Some questions:

* Are you using SwiftLint with CocoaPods?
* Can you check if these environment variables are being set correctly?
* Maybe there's something in the build log that could be useful?

[2017-07-20 16:21] ahmettaha commented on #1697
I'm running with Xcode. It creates the file, but it's empty. It seemed like there is no output from

`"${PODS_ROOT}/SwiftLint/swiftlint"`

but, I can see the output in xcode

[2017-07-20 16:34] marcelofabri commented on #1697
Do you have violations? SwiftLint prints violations to stdout, but all other info are printed to stderr.

[2017-07-20 19:48] merktassel opened #1698 "`unneeded_parentheses_in_closure_argument` Not Registering as a Rule"
I'm trying to use the `unneeded_parentheses_in_closure_argument` rule in order to prevent things like this from happening:

[code]

I would expect to get a warning prompting me to remove the parenthesis around my closure parameters, to make the call look more like this:

[code]

However, I don't. I ran `swiftlint rules` and was unable to find the specified rule listed:

[code]

`swiftlint lint` re

[2017-07-20 19:55] jpsim commented on #1698
That rule was just merged to `master` yesterday in #1684, so it won't be included in 0.20.0.

[2017-07-20 19:55] #1698 closed

[2017-07-20 20:02] merktassel commented on #1698
Is it available in the latest release? I just ran `pod update SwiftLint` and now `swiftlint version` outputs `0.20.1`, but I still don't see the rule listed by `swiftlint rules`.

[2017-07-20 20:03] jpsim commented on #1698
No the latest release is 0.20.1, which was made ~3 weeks ago.

[2017-07-21 09:06] marcelofabri commented on #1693
I haven't given a lot of thought into this yet, but my initial impression is that `--base-config` should be an option in a configuration (`.swiftlint.yml`) file and instead of `--override-config` we should have a `--no-merged-configurations` option or something like that.

[2017-07-21 09:23] marcelofabri commented on #1227
Just for reference, this is how rubocop works:

[code]

(from [their docs](http://rubocop.readthedocs.io/en/latest/formatters/))

[2017-07-21 09:32] marcelofabri commented on #736
This looks fixed in the latest version:

[code]

Feel free to reopen if it's not the case.

[2017-07-21 09:32] #736 closed

[2017-07-21 09:39] marcelofabri commented on #1611
Another option to avoid duplicating the configuration in each target is to have two configurations in the root folder and use multiple SwiftLint invocations with `included/excluded` and `--config`.

I'm closing this for now since I don't think SwiftLint should know about targets. Hopefully in the future the experience for this will be better once we start merging nested configurations and implemen

[2017-07-21 09:39] #1611 closed

[2017-07-21 09:40] marcelofabri commented on #1667
Closing this for now since we already have several tickets tracking merging/inheriting/importing configurations.

[2017-07-21 09:40] #1667 closed

[2017-07-21 09:42] marcelofabri commented on #1652
There's also some discussion in https://github.com/apple/swift/pull/9868.

[2017-07-21 09:42] marcelofabri commented on #1652
Closed by mistake, sorry 😅

[2017-07-21 10:12] Aranoledur commented on #1693
I agree with `--no-merged-configurations `flag.
But `--base-config` in configuration won't help resolve issue, because if project doesn't have `.swiftlint.yml` it won't know about base config. Idea is to make base config always do it's work plus ability to override some rules for specific project.

[2017-07-21 10:18] Aranoledur commented on #1693
I was thinking about implementation and discovered that ask Configuration about another configuration in `Configuration.configuration(for file:)` is confusing. Like you have one object and you ask it to create another object with it's own type. Maybe another abstraction needed. For example `ConfigurationsTree` that is created on start by searching all configurations in all subfolders, merging them

[2017-07-21 17:27] zef commented on #1415
I believe I found another false positive with this rule:

`while let _ = foo()`

I believe Swift requires the let here... Thanks!

[2017-07-21 17:27] jpsim commented on #1227
Definitely can't do something like that out-of-the-box using [Commandant](https://github.com/Carthage/Commandant).

[2017-07-21 17:28] jpsim commented on #1415
Correct, that was fixed in #1672.

[2017-07-21 18:24] zef commented on #1415
Thank you, sorry I didn't find that despite searching!

[2017-07-21 20:37] SDGGiesbrecht commented on #1693
@marcelofabri,

Do you mean some sort of import statement? (I think there is a separate issue about that but I cannot find it now.)

If so, while I see its usefulness as well, it doesn’t help my usage case. The whole point is for an overarching tool to be able to control SwiftLint’s basic defaults without having to write into the user’s configuration files. *Writing to a configuration file in the

[2017-07-21 20:53] marcelofabri commented on #1693
Yes

I think we could support both, but I think the more important one is in the configuration file. If that is supported, you could always create workarounds (e.g. generating files yourself).

IMO it would ignore nested configurations

Wouldn't that happen if you use `--override-config` as well?

[2017-07-21 21:08] SDGGiesbrecht commented on #1693
No... maybe it needs a better name.

This was the description:

***

I agree both should be supported. I also agree that import statements would affect more people. But it is a lot more work and thought to implement. `--base-config` can be implemented with only a line or two of code.

***

P.S. Unless you tell me not to, I am planning on doing the work of implementing these myself and submitting a

[2017-07-21 21:21] SDGGiesbrecht commented on #1693
@marcelofabri, I noted your answer about `--no-merged-configurations` at the top. I also added a diagram to help explain `--override-config`. Can you think of a name that is clearer?

[2017-07-22 18:13] marcelofabri commented on #1693
@SDGGiesbrecht you're right, I misunderstood `--override-config`.

I think it's important for us to take some time and figure out the approach we want to go with to solve this family of problems, because they're all so related. If you want to go ahead and submit a PR, it'd be good to have a more concrete input for us to think, but I can't say for sure whether it'd be accepted or not. With that in

[2017-07-22 19:39] SDGGiesbrecht commented on #1693
@marcelofabri, agreed on all counts.

I thought more about the name `--override-config`:

I proposed the name thinking `--(the-)overrid(ing)-config (is) <file>`, but I realize the brain tends to parse it as `--override-(the-)config(s) (with) <file>`, which is not what it is supposed to do.

Is `--config-overrides <file>` more natural?

`--final-child-config` is even less ambiguous, but I am not su

[2017-07-22 21:02] marcelofabri opened #1704 "Move examples to separated files"
Maybe we should move nonTriggering/triggering/corrections examples to their own files:

**Pros**:
* It'd be easier to make sure they are correctly formatted. Today, since they are `String`s in Swift, it's hard to properly format them. With multiline literals in Swift 4, this will get better, but probably it won't be good enough. This is important for documentation.
* We could run `sourcekitten` an

[2017-07-23 01:24] #1029 closed

[2017-07-23 18:32] #1165 closed

[2017-07-23 22:49] #1492 closed

[2017-07-24 09:09] marcelofabri opened #1708 "Customize the file header comment in Xcode 9"
As explained in https://oleb.net/blog/2017/07/xcode-9-text-macros/.

[2017-07-24 21:17] marcelofabri commented on #1708
It looks like there's no way to customize the date format, which is our biggest frustration right now.

[2017-07-24 21:17] #1708 closed

[2017-07-25 14:07] marcelofabri opened #1709 "Clear cache when used toolchain changes"
We probably should store the Swift toolchain used for running SwiftLint and clear the cache when it changes.

More information on how SwiftLint deals with multiple Swift versions: https://github.com/realm/SwiftLint#working-with-multiple-swift-versions

[2017-07-25 16:37] jpsim commented on #1704
I don't think there's significant value in the Pro's section to warrant doing this. 🤷‍♂️

[2017-07-25 16:42] jpsim commented on #1709
You're technically right, but I think this can be super low priority, because the only time this should matter is when both the following conditions are met:

1. No changes are required to your source code to compile across both toolchain versions; and
2. The different toolchains would produce different (valid) violations

I think in practice it's very unlikely that both these conditions will be m

[2017-07-25 16:43] marcelofabri commented on #1704
I think we definitely should adopt multiline strings first and see how it turns out. Having the examples poorly formatted is pretty bad IMO.

[2017-07-25 16:47] marcelofabri commented on #1709
Agreed.

[2017-07-25 16:55] jpsim commented on #1704
Yeah, but isn't the whole solution there to just visually inspect the (lovely) [Rules.md](https://github.com/realm/SwiftLint/blob/master/Rules.md) file now?

[2017-07-25 17:02] marcelofabri commented on #1704
I'm not sure I follow, but the issue is that we use those examples to generate the Rules.md file, so some snippets there have really weird formatting.

[2017-07-25 17:31] jpsim commented on #1704
Sorry, I wasn't clear. I mean that since the examples _do exist_ in a format where we can visually confirm that they're properly formatted (i.e. the `Rules.md` file), that this should be enough to identify which samples are incorrectly formatted and adjust them?

[2017-07-25 17:34] marcelofabri commented on #1704
Yes, hopefully we can fix that in the near future 🙏

[2017-07-25 22:23] #54 closed

[2017-07-25 23:15] ldiqual opened #1710 "Incorrect force_unwrapping violation with array IUO"
On 0.20.1, the following code triggers a force_unwrapping violation:

[code]

![image](https://user-images.githubusercontent.com/941453/28597737-7b23170a-7154-11e7-9c01-5bf63c553553.png)

I believe it is due to https://github.com/realm/SwiftLint/pull/1620

[2017-07-26 06:26] marcelofabri commented on #1710
Are you sure you're using 0.20.1? I couldn't reproduce it.

[code]

[2017-07-26 08:45] #1294 closed

[2017-07-26 09:27] mshibanami commented on #1649
+1 because I'm a fan of [this opinion](https://stackoverflow.com/a/4113678/4366470):

[2017-07-26 09:29] marcelofabri commented on #1649
@mshibanami but adding them to the top level declarations should be enough to cover that case

[2017-07-26 09:43] amlcurran opened #1711 "Implement support for changing configuration file path"
As part of our usage of Swiftlint, I'd like to propose being able to support a different path for configuration file, instead of being always `.swiftlint.yml`.

Like my previous suggestions, happy to prepare a PR for this.

We have two use cases for this:
- We would potentially like to support having different configurations for our CI vs development. For example, having violations as warnings in

[2017-07-26 09:47] marcelofabri commented on #1711
You can use `--config` already.

[2017-07-26 09:48] marcelofabri commented on #1711
Although I don't think nested configurations are supported currently (e.g. having all of them to be called `config.yml`).

[2017-07-26 09:51] amlcurran commented on #1711
cool, couldn't find anything documented but I see it in the code now.

Thanks!

[2017-07-26 09:51] #1711 closed

[2017-07-26 09:52] marcelofabri commented on #1711
You can use `swiftlint help lint` to see all available options 😊

[2017-07-26 10:13] mshibanami commented on #1649
@marcelofabri

[code]

In this case, I think it would be nice if SwiftLint warns me that `v` doesn't have a explicit access modifier. But it seems that `explicit_top_level_acl` doesn't work so.

I'm sorry if I misunderstood.

[2017-07-26 10:14] marcelofabri commented on #1649
That rule won't trigger a violation because it only validate top level declarations (as `Hello` in your example).

I actually got your point now. Sorry for adding noise to the conversation.

[2017-07-26 12:10] marcelofabri commented on #1697
Closing this for now. Feel free to reopen if there's anything we can help with 💯

[2017-07-26 12:10] #1697 closed

[2017-07-26 12:58] otaviolima commented on #1710
It is reproducible with 0.21.1.

It is triggered when an implicitly unwrapped array variable is declared inside a function, closure, brackets, etc.

For instance:

[code]
Or:

[code]

#1620 should have fixed this. But I was not aware of  SourceKitten limitation ( https://github.com/realm/SwiftLint/issues/136, https://github.com/jpsim/SourceKitten/issues/151) when reporting local variable declarati

[2017-07-26 13:04] marcelofabri commented on #1710
But then, this is a duplicate of #136. There's not much we can do other than fixing the issue in SourceKit itself ((SR-5057)[https://bugs.swift.org/browse/SR-5057]).

[2017-07-26 15:41] marcelofabri commented on #632
I'm closing this for now. @dimazen, if you come up with use cases that would benefit from this, feel free to open new issues about those. Thanks!

[2017-07-26 15:41] #632 closed

[2017-07-26 15:43] marcelofabri commented on #1049
Is there something we can do here? I'm not sure what's the outcome of this.

[2017-07-26 15:57] nicklockwood commented on #1049
I think the basic idea would be for SwiftLint to run SwiftFormat on the code (with SwiftFormat options specified in the SwiftLint config file), and then raise a warning if the output was changed - i.e. because that would mean that the developer had failed to run SwiftFormat with those same options prior to committing their code.

I don't know whether something like that would be considered in-scop

[2017-07-26 17:04] marcelofabri commented on #1049
So I finally understand what's the idea 😅

IMO this is out of the scope of SwiftLint, and could be better implemented:
1. As a Danger plugin
2. As an option in SwiftFormat (https://github.com/nicklockwood/SwiftFormat/issues/158)
3. As a script that runs SwiftFormat and checks the diff (reverting after)

What do you think, @jpsim?

[2017-07-26 21:25] nicklockwood commented on #1049
@marcelofabri I think that's completely reasonable :-)

[2017-07-26 21:27] SDGGiesbrecht commented on #1711
@amlcurran,  #1693 has a discussion on the possible future interaction of configuration merging and command line flags. (As Fabri said above, they are currently mutually exclusive.)

From what you’ve said, it would directly affect (and hopefully help) your use case. I would love it if you would read #1693 and share some of your own thoughts.

[2017-07-27 09:22] marcelofabri opened #1714 "[Rule Request] Prefer new block based KVO API in Swift 3.2 or 4"
When using Swift 3.2 or 4, the new block based API KVO API is preferred.

<img width="1920" alt="kvo" src="https://user-images.githubusercontent.com/833072/28663476-c2c953ca-72bd-11e7-9b30-9b874541a395.png">

[code]

[2017-07-27 09:35] marcelofabri commented on #1714
Probably the most trick thing here is to detect the Swift version.

We can the new keypath syntax and the structure to find if it's Swift >= 3.2.

* `file.swift`
[code]

* Command
`sourcekitten structure --file file.swift`

* Result with Swift 3.1:
[code]

* Result with Swift 3.2 or 4:
[code]

[2017-07-27 10:09] Coeur opened #1715 "Compiling from source: no such module 'SourceKittenFramework'"
Based on current Master, I followed the instructions from readme

But I got:

import SourceKittenFramework
       ^

	CompileSwift normal x86_64 /Users/coeur/Documents/Today 2017 07/Project 0.21/Pods/SwiftLint/Source/SwiftLintFramework/Rules/LegacyCGGeometryFunctionsRule.swift
	CompileSwift normal x86_64 /Users/coeur/Documents/Today 2017 07/Project 0.21/Pods/SwiftLint/Source/SwiftLintFramework/Ext

[2017-07-27 10:11] marcelofabri commented on #1715
Why are you running it inside `Pods`? How have you downloaded the project, with CocoaPods or cloning it?

[2017-07-27 10:17] ornithocoder commented on #1714
Maybe using `#if swift()`?

[code]

[code]

[code]

[code]

[code]

[2017-07-27 10:20] marcelofabri commented on #1714
@ornithocoder Nice! Unfortunately, we still can't tell if it's 3.2 or 4. But I guess in most cases it won't matter anyway. We can leave that for later if needed.

[2017-07-27 11:15] Coeur commented on #1715
If I do `pod 'SwiftLint', '~> 0.20'`, I get a pre built `swiftlint` without issue.
But if I do `pod 'SwiftLint', :git => 'https://github.com/realm/SwiftLint'` to get the latest from master, then apparently the `Pods\SwiftLint` folder only has source file and requires manual compilation.

[2017-07-27 11:33] marcelofabri commented on #1715
That's not really supported, because the Podspec was created to work with a pre-built binary (see https://github.com/realm/SwiftLint/pull/936#issuecomment-265348307).

If you want to build from source, please clone the repo separately. Feel free to reopen if you have more questions 💯

[2017-07-27 11:33] #1715 closed

[2017-07-27 16:40] marcelofabri opened #1718 "Add configuration to trailing_closure to enable/disable properties"
From https://github.com/realm/SwiftLint/pull/1193#issuecomment-274981646:

----

[code]

[2017-07-27 17:03] mekarthedev opened #1719 "file_header should ignore doc comments"
My file_header config is:

[code]

I.e. forbid file headers. But I have some types with documentation comment on them. E.g.

[code]

By coincidence the doc comment is the first non-blanc text in the file. As a result, I think, the file_header rule interprets the doc comment as file header and emits a warning.

Ideally, file_header should ignore triple-slash comments prepending some declaration.

[2017-07-27 18:01] marcelofabri commented on #1719
This is a good idea! Unfortunately, since Swift 2.3 we no longer get the doc comment ranges for declarations.

I'd suggest you to try to solve it with a different pattern instead. `^[^\/]{3}` might work in your case.

[2017-07-27 20:08] SDGGiesbrecht commented on #1719
That is a viable workaround, but this is a global bug, not something specific to that project.

Why not have the header rule check if the first non‐whitespace, non‐shebang characters in the file are `///` or `/**` (i.e. there is documentation, not a header), and if so, run the forbidden pattern on `""` instead?

That would fix it for all users.

[2017-07-27 20:11] marcelofabri commented on #1719
Because that not necessarily means they're documentation. For example:

[code]

[2017-07-27 20:13] marcelofabri commented on #1719
Ideally, we would get documentation locations from SourceKit, get the one for the first declaration and see if it's the first comment in the file or not.

[2017-07-27 20:18] Uncommon commented on #1719
If the first comment uses triple slashes, you could go by whether the following statement is a candidate for documentation - `import` isn't, but `class` is.

[2017-07-27 21:23] SDGGiesbrecht commented on #1719
I imagine anyone actually using three slashes for headers already has problems with Swift, Xcode’s Quick Help, Jazzy, and every other tool under the sun (correctly) incorporating some of their headers into documentation, whether they have noticed it yet or not.

Is the three‐slash header real‐world usage somewhere, or just hypothetical?

If it were up to me, a three‐slash comment not attached to a

[2017-07-28 05:05] lswith opened #1721 "Swiftlint only expects files with type ".swift""
I know that swiftlint explicitly expects files of type .swift, but I'd like to pass a file with ".lint-test" instead of ".swift". This is mainly for easy integration with https://github.com/phacility/arcanist.

[2017-07-28 06:14] SDGGiesbrecht commented on #1721
I’ve seen several issues where quick bug demonstrations were written as scripts like this:

`echo "func doSomething() {}" | swiftlint lint --use-stdin`

Does it work to pipe your file to `swiftlint` like that?

[2017-07-28 06:37] allen-zeng commented on #776
Hey guys, any progress on this? We need this rule as well

[2017-07-28 06:46] marcelofabri commented on #776
@allen-zeng Not as far as I know. Feel free to work on it and send a PR 😊

[2017-07-28 07:14] lswith commented on #1721
The standard way is to create the .lint-test file. I can override the
standard but it seems odd that you can't take any file

On Fri, Jul 28, 2017, 4:14 PM Jeremy David Giesbrecht <
notifications@github.com> wrote:

[2017-07-28 08:05] marcelofabri commented on #1721
I don't think we should change the default behavior, but I think it'd be reasonable to offer a way to override it, perhaps in the configuration file.

[2017-07-28 08:08] lswith commented on #1721
You guys are still not at 1.0, so you can do whatever you want haha.
Honestly I think specifying exact files is the way to go. Checking if
something is a swift file or not shouldn't be the job of the linter.

A good example is to simply pass globs to the ‘--path‘ variable. Something
like ‘--path **/*.swift‘.

On Fri, Jul 28, 2017, 6:05 PM Marcelo Fabri <notifications@github.com>
wrote:

[2017-07-28 08:12] marcelofabri commented on #1721
something is a swift file or not shouldn't be the job of the linter.

I disagree. I think the responsibility of a tool is to provide sensitive defaults. I wouldn't want that, by default, SwiftLint linted Objective-C files for example. Or that we needed to use `--path` all the times.

That could also work, but currently I don't think we even support passing a non-Swift file to `--path`.

[2017-07-28 08:16] lswith commented on #1721
If the path argument allowed non swift files and the default was all .swift
files I think that would work to both of our cases

On Fri, Jul 28, 2017, 6:12 PM Marcelo Fabri <notifications@github.com>
wrote:

[2017-07-28 14:08] fellipecaetano opened #1722 "Matching tuples using wildcards and a "where" clause triggers empty_enum_arguments"
The following snippet is interpreted as a violation of the `empty_enum_arguments` rule:

[code]

I was expecting a violation of a different rule, or rather that no rules were violated at all.

[2017-07-28 15:36] Bartzy commented on #1647
Thanks!

[2017-07-28 15:47] #1722 closed

[2017-07-28 19:00] SDGGiesbrecht commented on #1721
@lswith, @marcelofabri

I do not understand what a `.lint-test` file is. I ran a Google search for `".lint-test"`, but it generated no accurate hits. What standard are you referring to?

I added `arcanist` to the search term list and about the 60th hit was the source code for the unit tests for Arcanist itself.

Those files were the equivalent of SwiftLint’s `RuleDescription.(non)TriggeringExample

[2017-07-29 10:07] #1714 closed

[2017-07-30 15:11] marcelofabri commented on #1488
Fixed by @jpsim in https://github.com/realm/SwiftLint/pull/1726 🎉

[2017-07-30 15:11] #1488 closed

[2017-07-31 05:05] lswith commented on #1721
ok I'll try an explain better. The arcanist test loader (for writing arcanist integration with swiftlint I might add) expects the test files to be ".lint-test" extension. This file is then separated into 2 parts, one which is the source and one which is the lint error. It's basically a generic way to test all linters effectively. Most linters allow the ability to specify a path and then to take an

[2017-07-31 06:16] SDGGiesbrecht commented on #1721
So then [the first and last lines here](https://github.com/phacility/arcanist/blob/9e82ef979e8148c43b9b8439025d505b1219e213/src/lint/linter/__tests__/ArcanistLinterTestCase.php#L67-L90) are running afoul of SwiftLint?

I think it would be wiser if Arcanist’s test loader were to consistently append a meaningful file extension when it creates the temporary files to begin with, but that is just how I

[2017-07-31 11:50] mekarthedev opened #1728 "opening_brace generates false positives on closures returning closures"
When enabled opening_brace inspection, swiftlint generates warning for the following code:

[code]

`warning: Opening Brace Spacing Violation: Opening braces should be preceded by a single space and on the same line as the declaration. (opening_brace)` on the line `{ t + 1 }`

The fix expected by opening_brace rule:

[code]

Such syntax may cause misunderstanding of what `map(42) { t in` really do

[2017-07-31 12:48] mekarthedev commented on #1719
@marcelofabri, thanks for the workaround. `forbidden_pattern: "^//[^/]|/\\*[^*]"` worked for me. Going to stay with it for now.

Adding checks for next declaration to file_header impl doesn't seem like a bad idea for now. It may wouldn't be 100% accurate, but at least it doesn't seem to be error prone or non future proof.

[2017-07-31 12:51] marcelofabri commented on #1719
@mekarthedev Glad it worked! I've opened https://github.com/apple/swift/pull/11264 to make SourceKit also return the location of doc comments. If that is accepted, it'd make this enhancement much easier and more reliable.

[2017-07-31 18:39] jpsim commented on #1719
We don't need that to detect where doc comments are. That's already exposed in the syntax map, see `SyntaxKind.docComment` and `SyntaxKind.docCommentField`: https://github.com/jpsim/SourceKitten/blob/0.18.0/Source/SourceKittenFramework/SyntaxKind.swift#L28-L31

[2017-07-31 18:40] jpsim commented on #1719
That being said, @marcelofabri apple/swift#11264 is _awesome_ and will definitely help in cases where we need to know which doc comments are attached to a given declaration, which will allow us to rebuild the "missing docs" and "invalid docs" rules.

[2017-07-31 21:44] marcelofabri commented on #1719
Totally forgot that they have different syntax kinds. Opened #1730.

[2017-08-01 02:16] norio-nomura commented on #1653
I have [a WIP branch](https://github.com/jpsim/Yams/pull/43) that makes Yams compliant with [Swift Encoders](https://github.com/apple/swift-evolution/blob/master/proposals/0167-swift-encoders.md).
I think that it is worth having the Configuration conform to `Codable`.

[2017-08-01 12:03] ornithocoder commented on #1271
Hi there!

Any suggestions on how to detect that `$0` there?

Thanks!

[code]

[code]

[2017-08-01 12:24] marcelofabri commented on #1271
@ornithocoder You could use `"key.bodyoffset"` and `"key.bodylength"` from the call and put together with the information of the syntaxMap. `$0` will be a `source.lang.swift.syntaxtype.identifier`.

It'd be interesting if this rule supported all these variations:

* `foo.map({ $0 })`
* `foo.map { $0 }`
* `foo.map({ return $0 })`
* `foo.map({ bar in\n bar })`
* `foo.map({ bar in\n return bar })`

[2017-08-01 12:35] ornithocoder commented on #1271
Cool, thanks @marcelofabri.

Another case that needs to be tested

[code]

[code]

[2017-08-01 13:24] #1719 closed

[2017-08-01 14:10] bsarrazin opened #1732 "0.20.1 introduces false positive for trailing_whitespace"
[code]

Rules:
[code]

[2017-08-01 14:12] marcelofabri commented on #1732
@bsarrazin Could you share an example that shows the false positive?

[2017-08-01 14:16] bsarrazin commented on #1732
![2017-08-01 at 10 13 am](https://user-images.githubusercontent.com/1077441/28829641-6a565218-76a2-11e7-925a-103bb729b907.png)

Here you go.
Same problem with `force_cast`, same problem with `line_length`.

Returning to 0.20.0 fixes the problem.

[2017-08-01 14:20] marcelofabri commented on #1732
I highly doubt it's an issue with any of this rules. It's more likely a consequence of [this fix](https://github.com/realm/SwiftLint/issues/1631).

Do you have nested configuration files? How are you invoking SwiftLint?

[2017-08-01 14:21] bsarrazin commented on #1732
@marcelofabri we invoke swiftlint through a build phase:
[code]

[2017-08-01 14:22] bsarrazin commented on #1732
We have no nested config files.

[2017-08-01 14:25] marcelofabri commented on #1732
Is your file structure like this?

[code]

If so, I'd say that actually 0.20.0 introduced a bug that made it work, but it was fixed on 0.20.1. Older versions should have the same behavior.

The solution would be to use `--config` as well:

[code]

[2017-08-01 14:33] bsarrazin commented on #1732
well this is interesting...
Adding the config flag now causes this:
[code]

[2017-08-01 14:35] bsarrazin commented on #1732
I can fix the path being passed in the `--config` flag, but seeing the local path on your computer might not be the best thing 👅

[2017-08-01 14:36] marcelofabri commented on #1732
Oh right, this is another issue that was fixed on master 😅

Sorry about that. Using the absolute path is a workaround for now (or using master)

[2017-08-01 14:38] bsarrazin commented on #1732
when is the next release schedule for?

[2017-08-01 14:43] marcelofabri commented on #1732
No promises, but I think it should be soon. Could you try using an absolute path just to be sure it works?

[2017-08-01 14:46] bsarrazin commented on #1732
Using an absolute path works.
thanks for the help Marcelo!

[2017-08-01 14:46] #1732 closed

[2017-08-01 14:48] marcelofabri commented on #1732
Thanks for your patience and sorry about these issues 😬

[2017-08-01 16:26] marcelofabri opened #1734 "Generate Rules.md automatically"
It would be great if we could automate the generation of `Rules.md` even more, so we wouldn't even need to run its scheme. Maybe somehow running it together with unit tests?

Another option would be generating whenever something is merged in master.

[2017-08-01 17:12] jpsim commented on #1734
Running it as part of the unit tests sounds good. It's what we do for SourceKitten's library wrappers: https://github.com/jpsim/SourceKitten/blob/0.18.0/Tests/SourceKittenFrameworkTests/SourceKitTests.swift#L163-L182

[2017-08-01 17:25] #1424 closed

[2017-08-01 17:25] #1512 closed

[2017-08-01 20:20] jpsim commented on #27
It _might_ actually be possible to render fix-its from external build phases: https://clang.llvm.org/docs/UsersManual.html#cmdoption-fdiagnostics-parseable-fixits

I'm not sure because I haven't been able to get anything in that format or variations thereof to display in Xcode.

[2017-08-01 20:31] alokc83 commented on #1423
Excluding is not working I have specific set for Pods dir. How should I provide the path

[2017-08-01 20:39] SDGGiesbrecht commented on #27
Probably the easiest test is to have something that generates fix‐its when Xcode builds it in a normal build phase (using `clang`). Then add an external build phase that tells clang to do the same thing. That will tell us whether Xcode is even listening for them.

The same test failed for me when I was trying it with `swift` instead of `clang`.

@jpsim, thanks for thinking more about it. Keep us p

[2017-08-02 05:06] ornithocoder commented on #1306
@jpsim @marcelofabri issue can be closed :-)

[2017-08-02 05:11] #1306 closed

[2017-08-02 08:18] ornithocoder commented on #1271
Another case to think about when implementing the rule, which should not be triggered by it:

[code]

[2017-08-02 15:25] marcelofabri commented on #1370
Closed in #1737.

[2017-08-02 15:25] #1370 closed

[2017-08-02 20:51] marcelofabri commented on #676
Thanks @stephanecopin and @jpsim 💯

[2017-08-02 20:51] #676 closed

[2017-08-02 21:22] marcelofabri commented on #680
This is actually a duplicate of #136. Once https://github.com/apple/swift/pull/11262, we'll get it for free as `source.lang.swift.decl.var.local` declarations.

[2017-08-02 21:22] #680 closed

[2017-08-02 21:24] mflider opened #1739 "discarded_notification_center_observer false positive when adding to an array"
This produces a false positive:

[code]

It looks like SwiftLint isn't checking for the case where a notification observer object is being added directly to an array, instead of returned or assigned to a variable.

[2017-08-02 21:25] marcelofabri commented on #1739
Duplicate of #1398.

[2017-08-02 21:25] #1739 closed

[2017-08-02 22:07] #1710 closed

[2017-08-03 01:20] norio-nomura opened #1741 "`// swiftlint:disable identifier_name` does not work with Swift 4 toolchain"
I'm using `// swiftlint:disable identifier_name` at [Yams/Tests/YamsTests/EncoderTests.swift:15](https://github.com/jpsim/Yams/pull/43/files#diff-73a608f5dae28b72f46bae980aafaea1R15).
But swiftlint reports violations of `identifier_name` on [travis job](https://travis-ci.org/jpsim/Yams/jobs/260432361#L259).
This issue may occur locally with swiftlint 0.21.0, but I can not identify the condition.
I

[2017-08-03 01:36] lswith commented on #1721
I'll see what the arcanist maintainers say but its just surprising that swiftlint doesn't support exact file names. Ktlint, eslint, terraform lint, flake8, golint, pylint, rubylint, pep8, csslint, coffeelint, puppetlint, and rubocop all seem to be able to either specify the extension of the files they are looking for with sensible defaults or allow a direct file to be passed in.

[2017-08-03 07:57] omerfarukyilmaz opened #1743 "custom_rules regex not picking up newline correctly"
I could not get this custom rule working. Either I am doing the regex wrong, or swiftlint does regex differently. My regex works [here](https://regex101.com/r/1zjHO6/4/)

I want to force a newline after an extension declaration.

Valid:
extension A {

  func temp() {
  }

}

Invalid:

extension B {
  func temp() {
  }

}

custom_rules:
extension_declaration_missing_newline:
regex: 'extension .+\n.

[2017-08-03 08:07] marcelofabri opened #1744 "SwiftLint is picking the wrong configuration"
I have a `.swiftlint.yml` that I've used to reproduce #1586 on my home folder. When running `swiftlint` inside a subdirectory (that has a configuration file), it's loading the configuration from my home dir.

This happens even if I use `--config`. Tested with 0.21.0.

This only happens when using `--path`. And the weird thing is that SwiftLint even prints that it's using the right configuration:

[2017-08-03 08:09] marcelofabri commented on #1743
@omerfarukyilmaz There's some quotes in invalid places (after `extension_declaration_missing_newline` and `error`.

I was able to get a violation with this configuration:

[code]

[2017-08-03 08:16] omerfarukyilmaz commented on #1743
Yeah sorry those misplaced quotes are proof of my poor attempt to format correctly in markdown.

Yes, I was able to get a a violation as well but correcting the swift file, as in adding a second newline which should make it valid and_not_ cause a violation *still* causes a violation.

What I mean is, when I made the rule with multiple \n's (\n\n\n), the violation is still triggered.

I hope I was

[2017-08-03 08:20] marcelofabri commented on #1743
I've change it to:

[code]

And it didn't trigger 🤔

This is the file:

[code]

[2017-08-03 08:34] omerfarukyilmaz commented on #1743
Hey, sorry for the late reply.

Apologies, never mind that double \n. I got mixed up.

Coming back to the original problem, as you mentioned using this regex

`regex: 'extension .+\n.'`

on this:
[code]
It should violate like you said.
[code]

and this example should find 0 but it *still* finds 1.

Thank you for your help!

[2017-08-03 08:42] marcelofabri commented on #1743
I think it's just a matter of improving your regex. For example [`extension .+?{\n[^\S\n]*\w`](http://rubular.com/r/ep4Dwa58eq).

[2017-08-03 08:57] omerfarukyilmaz commented on #1743
Yes, that regex works amazing. And works great on [rubular.com](http://rubular.com) and [regex101.com](https://regex101.com) but SwiftLint returns:

`Invalid configuration for custom rule 'extension_declaration_missing_newline'.`

[code]

That is why I had created this issue. A valid regex on regex sites do not work in SwiftLint.

[2017-08-03 08:59] marcelofabri commented on #1743
Actually, you have to scape `{`. So `extension .+?\{\n[^\S\n]*\w` works for me.

[2017-08-03 09:01] omerfarukyilmaz commented on #1743
Thank you very much. I had assumed we would not need to escape as we are using single apostrophe but, it seems I was wrong.

Again, thank you a lot for your time! I really appreciate it.

[2017-08-03 09:01] #1743 closed

[2017-08-03 09:03] marcelofabri commented on #1743
No worries! Feel free to open another issue if you have more questions 💯

[2017-08-03 09:30] omerfarukyilmaz commented on #1743
@marcelofabri Sorry to disturb you again but I can not figure out why the hell is this trigging an error:

[code]

When the first function has at least one line, it triggers the custom rule I am trying to implement 😕

[2017-08-03 09:40] marcelofabri commented on #1743
Probably because we use the `.dotMatchesLineSeparators` option. So you could simulate it here: http://rubular.com/r/oi9ubccA3e.

There's no way to change this behavior currently, so I guess you'd have to change your regex a bit.

[2017-08-03 09:44] omerfarukyilmaz commented on #1743
Thanks a lot, again! I'll find a solution from here.

[2017-08-04 00:06] norio-nomura commented on #1408
Is this already implemented in #1438?

[2017-08-04 00:08] norio-nomura commented on #1408
It seems not.

[2017-08-04 07:01] guangLess commented on #1423
I have the same issue as well.

[2017-08-04 08:58] jpsim commented on #1423
Please file an issue with steps to reproduce if you need help.

[2017-08-04 13:48] voidless opened #1749 ""mark" rule autocorrection is eating preceding comment content"
Swiftlint 0.21.0
"mark" rule autocorrection work incorrectly for commented out code, it removes all preceding comment content including comment open mark.
It should handle this case properly or ignore commented out code instead

Example:
[code]
Output:
[code]

[2017-08-04 19:26] ornithocoder opened #1750 "Rules function_body_length and type_body_length report incorrect number of lines"
I'm working on a rule to limit the number of lines in a closure (#1747) and found an interesting issue with lines that have no characters other than curly braces: "{", "}".

When using the method `File.exceedsLineCountExcludingCommentsAndWhitespace(_:_:_:)`, `File.getter:syntaxKindsByLines` doesn't consider as valid lines those containing a single "{" or "}" character.

For instance, the code belo

[2017-08-04 20:55] jpsim commented on #1002
What if we just truncated the configuration column to a max of say 60 characters?

[2017-08-04 22:32] jpsim commented on #1741
Interesting finding... Looks like this only occurs with a Swift 4 toolchain. Running with a Swift 3 toolchain picks up the multi-rule command just fine.

[2017-08-04 22:43] mergesort commented on #1744
If you need any more info, I'm seeing this too. Specifically the configuration that's being picked is pointing to your home directory.

[code]

[2017-08-04 22:50] jpsim commented on #1721
I really don't see why we wouldn't make SwiftLint work when passed single files to `swiftlint lint --path not_a_swift_file.txt`.

[2017-08-05 01:39] norio-nomura commented on #1741
It looks `--no-cache` affects to result.

[2017-08-05 06:38] jpsim commented on #1741
Only if with/without the cache, different Swift toolchains are used.

[2017-08-05 07:53] norio-nomura commented on #1741
You are right.
In my test, the result of Xcode 9 beta 4 was cached and `-no-cache` used Xcode 8.3.3.

[2017-08-05 09:55] ornithocoder commented on #1750
Another example:

[code]

[code]

[2017-08-05 11:15] marcelofabri commented on #1750
@ornithocoder I haven't looked into this deeply, but IIRC the implementation, this would happen, and I'd consider it a bug. Feel free to open a PR improving `file.numberOfCommentAndWhitespaceOnlyLines`.

It'd be just a matter of changing to the logic to "kindsOnLine.isEmpty && line.contents.trimmed.isEmpty" (pseudocode, not on my computer right now).

[2017-08-05 11:16] marcelofabri commented on #1741
Related: https://github.com/realm/SwiftLint/issues/1709

[2017-08-05 11:18] marcelofabri commented on #1744
@mergesort Thanks for the info. This indeed would happen with this bug.

[2017-08-05 11:19] marcelofabri commented on #1721
We definitely should change that check from `isSwiftFile` to just check if it's a file. 👍

[2017-08-05 11:27] marcelofabri commented on #1749
I could reproduce it with 0.21.0.

[2017-08-05 18:06] ggCS opened #1752 "Exluded in .swiftlint.yml not working as intended."
I edited the .swiftlint.yml where it was found on my computer and added an excluded line
`Source/Libraries` to ignore third party libraries' code but that didn't work.

I tried adding a .swiftlint.yml file to the project itself at the same level as my AppDelegate.swift and changing exluded to `Libraries` without the source.

Then I tried adding .swiftlint.yml to the Libraries folder in the hope of

[2017-08-05 20:22] SDGGiesbrecht commented on #1744
Are you sure you are not using `master`? `master`’s current merge logic would find the right file (printing the message you noted) and then silently load and merge itself into anything in each parent directory until it hits the project root.

Since `--config` can be outside the project, it will never hit the root and go all the way to the system root instead.

`--path` may be setting the project r

[2017-08-05 21:29] marcelofabri commented on #1744
Yes.

[2017-08-05 22:34] SDGGiesbrecht commented on #1744
Hmm... all very strange. But I guess that is the nature of bugs. *[sigh]*

[2017-08-06 10:35] Eitot opened #1754 "trailing_closure rule with NSAnimationContext runAnimationGroup(_:completionHandler:)"
The rule is triggered when a method has two closure parameters and the second one is optional, such as [`runAnimationGroup(_:completionHandler:)`](https://developer.apple.com/documentation/appkit/nsanimationcontext/1529847-runanimationgroup). Trailing-closure syntax is not available in that case (I believe).

Examples:
[code]

[2017-08-07 06:51] marcelofabri commented on #1754
That's a current (known) limitation of this rule and one of the reasons why it's opt-in. SwiftLint currently has no way to know anything about function declarations from other files/modules.

[2017-08-07 08:54] marcelofabri commented on #1752
We need more information to help you:

* What version of SwiftLint are you using?
* How is your full configuration file?
* Do you have nested configurations?
* How are you invoking SwiftLint (the full command line, with all parameters that you're using.)

[2017-08-07 12:55] marcelofabri commented on #1093
Closed by @ornithocoder in #1746 🎉

[2017-08-07 12:55] #1093 closed

[2017-08-07 13:08] marcelofabri commented on #1231
I'm closing this for now because I think it's outside the scope of SwiftLint.

[2017-08-07 13:08] #1231 closed

[2017-08-07 13:09] marcelofabri commented on #1124
Did anyone see this recently? Should we close this issue?

[2017-08-07 13:11] marcelofabri commented on #560
Closing this in favor of #1220.

[2017-08-07 13:11] #560 closed

[2017-08-07 20:32] jpsim commented on #1709
As highlighted by #1741, this can be hit more easily than I had originally assumed.

[2017-08-08 06:22] #1721 closed

[2017-08-08 09:49] ornithocoder opened #1757 "Make joined_default_parameter rule correctable"
as discussed with @marcelofabri #1746.

[2017-08-08 09:55] ornithocoder commented on #1757
@marcelofabri is there any rule for creating regular expressions for correctable rules? Should I build a rule that accepts blank spaces everywhere - e.g. `. join  (  separator    : "" )` or go for something more basic like `\.joined\(separator:\s*?\"\"\)`, leaving the blank spaces to be taken care by other rules?

[2017-08-08 10:00] marcelofabri commented on #1757
In this case, I wouldn't use regexes at all. You already have all needed information from SourceKit:

[code]

Replacing the range `(location: key.offset, length: key.length)` with an empty string should work.

[2017-08-08 10:27] marcelofabri commented on #1049
Closing it for now.

[2017-08-08 10:27] #1049 closed

[2017-08-08 14:20] #1757 closed

[2017-08-10 05:22] ryanbooker opened #1761 "Sugared `Optional<()>` return types (e.g. Void?) are caught by the `redundant_void_return` rule."
`foo() -> ()` and `foo() -> ()?` are not the same type. The later is currently rejected by `redundant_void_return` as being equivalent to the former.

[2017-08-10 05:26] norio-nomura commented on #1124
I have not been able to reproduce it since then, I will close this issue.

[2017-08-10 05:26] #1124 closed

[2017-08-10 06:25] ryanbooker opened #1762 "Non ascii operators are rejected by `identifier_name` for not starting with a lowercase letter."
While `["/", "=", "-", "+", "!", "*", "|", "^", "~", "?", ".", "%", "<", ">", "&"]` are specifically allowed as the first character of operators, anything else is rejected.

e.g. using `•` as the compose operator or `§` as function application is relatively common and useful. Including them in `allowed_symbols` doesn't circumvent this behaviour. Should it? The `isOperator` function seems otherwise

[2017-08-10 08:42] marcelofabri commented on #1762
I think so.

---

Also, I think there's another bug in the implementation currently:

[code]

This doesn't seem to guarantee that all non-alphanumeric characters in `name` are in `configuration.allowedSymbols`.

[2017-08-10 09:07] hossamghareeb opened #1763 "Wrong error message when using `max_empty_lines` with rule `vertical_whitespace`"
Hello,
My swiftlint file is configured like:
[code]
and it works fine but the warning message is wrong. So instead of saying `warning: Vertical Whitespace Violation: Limit vertical whitespace to a single empty line. Currently 4. (vertical_whitespace)` it should say `warning: Vertical Whitespace Violation: Limit vertical whitespace to 2 empty lines. Currently 4. (vertical_whitespace)`

[2017-08-10 09:09] marcelofabri commented on #1763
Thanks for filling this issue, @hossamghareeb! Would you like to send a PR fixing this? 💯

[2017-08-10 09:12] hossamghareeb commented on #1763
Yeah sure, I've forked the project and will work on it. I think the auto correction as well would need fixing, as it corrects to one single line instead of the `max_empty_lines`

[2017-08-10 13:43] #1761 closed

[2017-08-10 14:47] marcelofabri commented on #1653
I have a [WIP branch](https://github.com/marcelofabri/SwiftLint/tree/mf-rules-parameters) with the changes proposed here. This will make possible to generate a documentation file [like this](https://gist.github.com/marcelofabri/d2bf57bdf333d4f363460aa083e65731#colon).

There are a lot of work yet before we merge it:
- [ ] Migrate all the remaining rule configurations (the ones that are missing are

[2017-08-10 14:56] marcelofabri commented on #1709
Is there a way to know which toolchain SourceKitten is using? Or would this require some changes there as well?

[2017-08-10 16:07] marcelofabri commented on #1693
I think we're overcomplicating this. [Rubocop](https://github.com/bbatsov/rubocop/blob/master/manual/configuration.md#configuration) seems to take a much more simpler (and predictable) approach:

- Always use the configuration in the same level as the file being lint'ed.
- If it's not there, check go to the parent directory until it reaches root. If no configuration was found, use a default one.
-

[2017-08-10 16:09] marcelofabri opened #1766 "Add danger check against merge commit"
We can steal this from CocoaPods: https://github.com/CocoaPods/CocoaPods/blob/master/Dangerfile#L14-L17

[2017-08-10 19:33] kurabi opened #1767 "Rule Request: Warning for extensions used for grouping code"
Swift Extensions are often times used in 3 ways (there are more):
1. Retroactive Modeling
2. Protocol Extensions
3. For organization purposes, where grouping a set of methods together within the same file that declared that class. For example, grouping private methods in an extension, or an extension to implement each protocol that the class implements.

The use of swift extensions for with regard

[2017-08-10 19:36] marcelofabri commented on #1767
This should be a good starter rule if anyone wants to grab it (as long as it catches only extensions/classes in a single file). It definitely should be opt-in though.

[2017-08-10 19:57] Uncommon commented on #1767
So what would you want the rule to catch? Extensions on a class in the same file where the class is declared?

[2017-08-10 20:03] kurabi commented on #1767
@Uncommon Yes.

[2017-08-10 21:01] jpsim commented on #1709
There's no way currently to do that, no 😞

Exposing these declarations/types publicly would be sufficient, but a terrible way, to expose that to SwiftLint:

https://github.com/jpsim/SourceKitten/blob/0.18.0/Source/SourceKittenFramework/library_wrapper_sourcekitd.swift#L9
and
https://github.com/jpsim/SourceKitten/blob/0.18.0/Source/SourceKittenFramework/library_wrapper.swift#L12

[2017-08-10 22:33] SDGGiesbrecht commented on #1693
Thoughts on Rubocop:

SwiftLint does that. ✓

Simple and logical to me. On the other hand, several issues have already been registered because SwiftLint was getting configurations from outside the project/working directory. So I am not sure this is what users actually generally want. It also means SwiftLint can spit out different results when a repository is cloned to a different machine or locati

[2017-08-10 23:22] ryanbooker commented on #1762
OK. Cheers. I'll work on something for this in the next couple of days.

[2017-08-11 21:26] fbartho opened #1769 "Feature Request: line_length ignore "localize(d)" lines."
`NSLocalizedString` & family of methods / macros, and custom-prefixed versions of those can easily get very long, and it doesn't usually provide additional value to the readability of the code to force-wrapping on them.

Proposals
A. provide an option like "ignores_localizable_content" that will ignore lines that contain the substring "localize" (case insensitive).
B. provide an option like "repla

[2017-08-11 22:26] fcy opened #1770 "let_var_whitespace should not trigger for @objc"
I like the new `let_var_whitespace ` rule but I think it shouldn't trigger for `@objc` because it applies to that member. E.g. the following snippet triggers a violation:

[code]

What do you think?

[2017-08-11 22:31] Uncommon commented on #1770
Yeah, that should be easy to fix. I got it to handle a couple of other @ keywords but didn't think of `@objc`.

[2017-08-11 23:13] FXLV4PGE opened #1771 "private_over_fileprivate should flag fileprivate declarations that are not used outside their context"
SwiftLint v0.21.0:

@objc fileprivate isn't flagged in preference for private.

<img width="548" alt="sample" src="https://user-images.githubusercontent.com/26314830/29326435-506f056c-81a0-11e7-831e-1d655118be6d.png">

[2017-08-12 12:45] ornithocoder commented on #1750
These are the rules affected by this problem:

* `function_body_length`
* `type_body_length`
* `closure_body_length` (PR: #1747 for issue: #52)

[2017-08-13 18:48] marcelofabri commented on #136
This should be automatically fixed since https://github.com/apple/swift/pull/11431 was merged. I'll keep this open until that PR is included in an official release (probably 4.1?).

[2017-08-14 09:18] marcelofabri commented on #1763
Closed in #1774.

[2017-08-14 09:18] #1763 closed

[2017-08-14 09:27] marcelofabri commented on #1771
Can you give a full triggering example? Which rule are you referring to? `private_over_fileprivate`?

[2017-08-14 09:34] #1281 closed

[2017-08-14 10:18] #1766 closed

[2017-08-14 17:35] FXLV4PGE commented on #1771
Attached is a png of a sample.

The code was originally having BOTH @objc fileprivate functions.
I changed one to ‘@objc private’ which SwiftLint didn’t notice.

Either ‘private’ or ‘fileprivate’ is correct.
But SwiftLint doesn’t make the distinction for @objc calls.

Ric.

From: Marcelo Fabri <notifications@github.com<mailto:notifications@github.com>>
Reply-To: realm/SwiftLint <reply@reply.github

[2017-08-14 18:12] RishabhTayal commented on #1377
I am creating a pull request https://github.com/realm/SwiftLint/pull/1777 for this. It's a WIP.

[2017-08-14 22:16] semireg commented on #589
@phoney, have you considered using https://github.com/mac-cain13/R.swift ?

[2017-08-15 06:42] marcelofabri commented on #1771
GitHub doesn’t show attachments from emails apparently. Please upload through the web interface or use a code snippet.

[2017-08-15 17:00] FXLV4PGE commented on #1771
I've uploaded a screen snippet showing two (2) @objc calls: private & fileprivate.   SwiftLink doesn't distinguish the two.   For SwiftLink, both are okay.   Here's the image again:

<img width="548" alt="sample" src="https://user-images.githubusercontent.com/26314830/29326492-932fbeb4-81a0-11e7-990a-b3befb0efe60.png">

[2017-08-15 17:40] marcelofabri commented on #1771
That's expected, because SwiftLint currently doesn't know if `didTapCurrentLocationButton` is used outside of the scope of its declaration.

[2017-08-15 21:25] jpsim opened #1778 "Require raw values in enum"
The opposite of our current rule that triggers a violation if the same string values as enum member names were used, resulting in redundant duplication, would sometimes be useful if you want to allow refactoring of the Swift API without breaking the API contract.

[2017-08-16 06:25] ornithocoder opened #1779 "Limit number of test classes in file to one"
One of the things I like the most about Quick is the possibility to isolate scenarios in nested blocks to better describe the behavior of the system under test.

As result, rare are the cases were one would need to implement two or more QuickSpecs in the same test file. A single QuickSpec per file is enough.

rule request, single quick spec per file, opt-in

[2017-08-16 06:52] ornithocoder opened #1781 "Method calls and object initialization inside Quick 'describe' and 'context' blocks can be harmful"
Quick run its tests in a very specific (tree-based) order. Take the example below:

[code]

The order of execution is:

1. Setup
    * variable definition # 1
2. Test 1
    * beforeEach # 1
    * it # 1
    * afterEach # 1
3. Test 2
    * beforeEach # 1
    * it # 2
    * afterEach # 1
4. Test 3
    * beforeEach # 1
    * it # 3
    * afterEach # 1
5. Test 4
    * beforeEach # 1
    * beforeEach #

[2017-08-16 10:06] marcelofabri commented on #1779
Should this also be applied to `XCTestCase`?

[2017-08-16 10:57] ornithocoder commented on #1779
@marcelofabri I'm not sure. Since one might want to test the system under test with different parameters, multiple `XCTestCase` classes inside the same file might be needed (one `setUp` and one `tearDown` might now be enough for all the cases). Using Quick, these are different `describes` or `contexts` within the same QuickSpec class.

[2017-08-16 11:57] marcelofabri commented on #1779
But then one could do the setup in each test or even split the `XCTestCase` into another file. I don't think I've ever seen a project that had two (or more) `XCTestCase` in the same file.